
{% extends "layout.html" %}

{% block pageTitle %}
  Fill out an application form and appoint an auditor
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
  	<a href="/{{ url }}/join" class="govuk-back-link">Back</a>
    <h1 class="govuk-heading-xl">Fill out an application form and appoint an auditor</h1>
    <p>This page lets you apply to become a participant on the trust framework, including sending your details to the authoritative body and the auditor.</p>
  </div>

</div>

{% endblock %}
