
{% extends "layout.html" %}

{% block pageTitle %}
  How certification works
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
  	<a href="/{{ url }}/certification" class="govuk-back-link">Back</a>
    <h1 class="govuk-heading-xl">Being approved</h1>

    <p>What evidence and information you need to be get approved. Includes how to complete a pre-assessment, fill in a self-assessment report and host the audit.</p>

  </div>

</div>

{% endblock %}
