
{% extends "layout.html" %}

{% block pageTitle %}
  Understanding, sharing and maintaining attributes
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
  	<a href="/{{ url }}/standards" class="govuk-back-link">Back</a>
    <h1 class="govuk-heading-xl">Understanding, sharing and maintaining attributes</h1>
    <p>You should read this guidance if you collect or create attributes and want to become an 'attribute provider'. Attribute providers can share attributes they hold. </p>
	<p>Anyone from any industry who collects or creates attributes can become an attribute provider.</p>
	<p>This guidance will tell you: </p>
	<ul class="govuk-list govuk-list--bullet">
		<li>what the benefits of sharing attributes are</li>
		<li>how to create (or 'enrol') attributes</li>
		<li>how to make sure your attributes are good quality</li>
	</ul>

  </div>

</div>

{% endblock %}
