
{% extends "layout.html" %}

{% block pageTitle %}
  Get certified to be part of the trust framework
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
  	<a href="/{{ url }}/join" class="govuk-back-link">Back</a>
    <h1 class="govuk-heading-xl">Get certified to be part of the trust framework</h1>

      <p>You’re ready to be certified once you’ve:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>decided on the role you want to play in the trust framework</li>
        <li>applied to join the trust framework</li>
        <li>chosen an auditor you want to work with</li>
        <li>built your service</li>
      </ul>
      <h2 class="govuk-heading-m">Before you start</h2>

      <p>Your auditor will need to confirm you meet some conditions before you carry on with your application.</p>

      <p>They’ll ask you to complete a <a href="https://docs.google.com/document/d/1h06iRXD8UIUSTZtlyQNYBSduouhDd-XzKOYRUjjdYAQ/edit">statement of conformity</a>. The statement of conformity covers things like:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>a brief description of your service to help your auditor understand your service</li>
        <li><a href="/{{ url }}/evidence">evidence you meet the necessary criteria</a>, for example your company is registered with Companies House</li>
      </ul>

      <p><a href="https://docs.google.com/document/d/1h06iRXD8UIUSTZtlyQNYBSduouhDd-XzKOYRUjjdYAQ/edit">Download the statement of conformity</a></p>

      <p>Your auditor will let you know if you can carry on with your application, or if you need to provide more evidence.</p>

      <h2 class="govuk-heading-m">Complete the application documents</h2>
      <p>You’ll now need to provide more information so your auditor can evaluate your application for certification.</p>

      <p>You’ll need to:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>write a full description of your service</li>
        <li>complete the certification criteria report which outlines how you meet all of the necessary standards and rules</li>
      </ul>
      <p>Your auditor will advise you on the areas you need to provide more detail about in the documentation.</p>

      <p><a href="#">Download the certification criteria report</a></p>

      <h2 class="govuk-heading-m">Send evidence and information about your service to your auditor</h2>
      <p>Send your completed application documentation to your auditor. The auditor may need to ask you some follow up questions about the evidence you’ve submitted. </p>
      <p>Your auditor will now decide if they’ll recommend you’ve passed the audit or if an on-site audit is necessary. </p>
      <p>On-site audits are needed because of the complexity of the role you’ll play on the trust framework. Some roles will need 2 on-site audits. Your auditor will advise you on what’s necessary in your case.</p>
      
      <h2 class="govuk-heading-m">Getting certified</h2>
      <p>Once the audit process is complete, the auditor will let you know if they’ll be recommending a pass or fail.</p>
      <p>If they recommend a pass, they’ll submit the evidence and their decision to the authoritative body. The authoritative body will review the evidence and confirm if they agree with the decision. </p>
      <p>If you’ve failed, your auditor will suggest what you can do now. For instance, they may arrange another on-site audit or ask you to provide further evidence. </p>
      <p>Once the authoritative body has confirmed you’ve passed, you’re ready to sign the contract with the trust framework.</p>


  </div>

</div>

{% endblock %}
