
{% extends "layout.html" %}

{% block pageTitle %}
  Get certified to be part of the trust framework
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
  	<a href="/{{ url }}/join" class="govuk-back-link">Back</a>
    <h1 class="govuk-heading-xl">Get certified to be part of the trust framework</h1>
        <p>Read the guidance about <a href="/{{ url }}/how-certification-works">how certification works</a> before you start the process. This includes why you should be certified and what you'll need.</p>

        <p>You can then:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li><a href="/{{ certified-evidence }}">find out what evidence you need to be certified</a> (includes what information you need to prove you meet each pre-assessment element)</li>
            <li>read the <a href="/{{ certified-terms-conditions }}">terms and conditions of certification</a> (includes the different types of certification, information about the auditor's report and how to respond to their decision)</li>
            <li>complete a <a href="/{{ statement-of-conformity }}">statement of conformity</a> to prove you meet the standards</li>
            <li>find out <a href="/{{ trustmark }}">when you can and cannot use the trust framework trustmark</a></li>
          </ul>

      <h3 class="govuk-heading-s">Choose how you will be certified</h3>

        <p>There are 3 ways your organisation can be certified. Which guidance you need to follow will depend on which one you choose.</p>

        <p>If you want to do most of the audit yourself (known as 'self-assessment'), you will need to know:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li><a href="/{{ self-assessment-evidence }}">what you need</a></li>
            <li><a href="/{{ self-assessment-process }}">how it works</a></li>
          </ul>

        <p>If you want the 'approval' level of certification, you will need to know:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li><a href="/{{ approval-evidence }}">what you need</a></li>
            <li><a href="/{{ approval-process }}">how it works</a></li>
          </ul>

        <p>If you want the 'full certification' level of certification, you will need to know:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li><a href="/{{ certification-evidence }}">what you need</a></li>
            <li><a href="/{{ certification-process }}">how it works</a></li>
          </ul>

      <h3 class="govuk-heading-s">Profiles</h3>

        <p>You must make sure you meet a profile.</p>

      <h3 class="govuk-heading-s">Describe your service</h3>

        <p>You will need to write a brief description of your service to help your auditor know if you've chosen the right level of certification for your service. Find out <a href="/{{ brief-service-description }}">what you need to include in the description</a>.</p>

        <p>You will also need to write a full description of your service that you can send to auditors and the authoritative body. Find out <a href="/{{ full-service-description }}">what you need to include in the description</a>.</p>

      <h3 class="govuk-heading-s">Testing your service</h3>

        <p>What you need to do before and after your service is certified: service design, service transition, service operations, security testing, penetration testing, business continuity, event and capacity management.</p>

  </div>

</div>

{% endblock %}
