
{% extends "layout.html" %}

{% block pageTitle %}
  Get certified to be part of the trust framework
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
  	<a href="/{{ url }}/join" class="govuk-back-link">Back</a>
    <h1 class="govuk-heading-xl">Get certified to be part of the trust framework</h1>
    <p>This page lists all the documentation related to certification.</p>

    <h3 class="govuk-heading-s">About certification</h3>

    <ul class="govuk-list govuk-list--bullet">
      <li><a href="/{{ url }}/how-certification-works">How certification works</a></li>
      <li>Find out what evidence you need to be certified<ul>
        <li>This is a matrix that outlines the minimum Pre-assessment criteria a provider needs to meet</li></ul></li>
      <li>Terms and conditions of certification</li>
      <li>Complete a statement of conformity<ul>
        <li>A form that the service provider completes and signs to provide details of certificates held to prove conformity</li></ul></li>

      <li>Compliance report<ul><li>Report to be produced to prove compliance</li></ul></li>

      <li>Internal audit procedure<ul><li>Document that describes how the Internal audit procedure works</li></ul></li>

      <li>Trust Framework Trust Mark Usage<ul><li>Describes how a certified/approved provider is allowed to use the trustmark</li></ul></li>
    </ul>

    <h3 class="govuk-heading-s">Profiles</h3>
    <ul class="govuk-list govuk-list--bullet">
      <li>Attribute Registration Profile</li>
      <li>Base Profile<ul>
          <li>A document that describes what needs to be met and will be checked for business probity and management competence, management of security procedures, assurance of technical infrastructure, suitability of personnel and external relationships.</li></ul></li>
      <li>Credential Management Profile</li>
      <li>Credential Validation Profile</li>
      <li>Identity Provider Profile</li>
      <li>Identity Registration Profile</li>
    </ul>

    <h3 class="govuk-heading-s">Service descriptions</h3>
    <ul class="govuk-list govuk-list--bullet">
      <li>Service description template full<ul><li>This is a template to be filled out by a provider to fully describe their Service. It will be used by auditors and sent to the Framework’s AB.</li></ul></li>

      <li>Service description template outline<ul><li>This is a template to be filled out by a provider to provide an initial outline to describe their Service. It will be used by auditors, used as a way for auditors to ensure the choice of certification is applicable and sent to the Framework’s AB.</li></ul></li>
    </ul>

    <h3 class="govuk-heading-s">Approval</h3>
    <ul class="govuk-list govuk-list--bullet">
      <li>Approval criteria<ul><li>A matrix that gives the criteria to be met for Approval status</li></ul></li>
      
      <li>Approval procedure<ul><li>Document that describes how the Approval procedure works</li></ul></li>

      <li>Approval feedback report<ul><li>Template to be completed by auditor to provide an Approval feedback report</li></ul></li>

      <li>Approval re-validation report<ul><li>Template to be completed by auditor to provide an Approval re-validation report</li></ul></li>
      
      
      
    </ul>

    <h3 class="govuk-heading-s">Certification</h3>
    <ul class="govuk-list govuk-list--bullet">
      <li>Certification criteria<ul><li>A matrix that gives the criteria to be met for Certification criteria</li></ul></li>

      <li>Certification procedure<ul><li>Document that describes how the Certification procedure works</li></ul></li>

      <li>Certification feedback report<ul><li>Template to be completed by auditor to provide an Certification feedback report</li></ul></li>

      <li>Re-certification report<ul><li>Template to be completed by auditor to provide a Re-certification report</li></ul></li>
    </ul>

    <h3 class="govuk-heading-s">Self-assessment</h3>
    <ul class="govuk-list govuk-list--bullet">
      <li>Self-assessment criteria<ul><li>A matrix that gives the criteria to be met for Self-assessment criteria</li></ul></li>

      <li>Self-assessment procedure<ul><li>Document that describes how the Self-assessment procedure works</li></ul></li>

      <li>Self-assessment feedback report<ul><li>Template to be completed by auditor to provide an Self-assessment feedback report</li></ul></li>

      <li>Self-assessment re-validation report<ul><li>Template to be completed by auditor to provide an Self-assessment re-validation report</li></ul></li>
    </ul>

    

      
      
    </ul>

  </div>

</div>

{% endblock %}
