
{% extends "layout.html" %}

{% block pageTitle %}
  Get certified to be part of the trust framework
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
  	<a href="/{{ url }}/join" class="govuk-back-link">Back</a>
    <h1 class="govuk-heading-xl">Get certified to be part of the trust framework</h1>
    
    <p>Your organisation must be 'certified' before you can join the trust framework.</p>

    <p>To be certified, an independent auditor will need to check that you're able to provide identity services that meet the <a href="https://www.gov.uk/government/collections/identity-proofing-and-authentication">UK government's identity standards</a>.</p>

    <p>It usually takes between 1 and 3 months to be certified.</p>

    <h2 class="govuk-heading-m">What you need</h2>
	  
	  <p>To be certified, your organisation will need to show evidence that it does all of the following:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>is a registered company</li>
  		<li>follows the relevant legislation, for example the General Data Protection Regulation (GDPR)</li>
  		<li>follows an internationally recognised information security standard, such as ISO/IEC 27001, ISO/IEC 27002, NIST 800 Series or ITIL security management</li>
      <li>manages risks to your service in a way that follows industry standards, such as ISO/IEC 27005 or BS 7799-3</li>
      <li>has an ISO 9001 certificate (these usually expire every 3 years so you must make sure your certificate is still valid)</li>
      <li>has someone on the organisation's management team who's responsible for security policies</li>
      <li>keeps a log of any time your security policies or safeguards have been compromised (the log should include times and dates of the events, as well as what you did to fix them)</li>
    </ul>

    <p>If you have all of these, you can find an independent auditor. You can do this before or after you've built your service.</p>

    <h2 class="govuk-heading-m">How to be certified</h2>
    <p>There are 3 ways your organisation can be certified.</p>

    <h3 class="govuk-heading-s">Self assessment</h3>
    <p>You send the auditor your evidence. They will review it and certify your organisation if they think you meet the identity standards.</p>

    <h3 class="govuk-heading-s">Approval</h3>
    <p>You send the auditor your evidence. They will review it and then visit your place of work to check the way you work meets the identity standards.</p>

    <h3 class="govuk-heading-s">Full certification</h3>
    <p>You send the auditor your evidence. They will review it and then visit your place of work to check the way you work meets the identity standards. They will make some recommendations and then visit your place of work again to check if you've made any changes to your process. </p>
  
    <hr style="margin-top:50px;margin-bottom:50px;border:1px solid black;">

    <h2 class="govuk-heading-l">Supporting documents</h2>

    <h3 class="govuk-heading-s">Find out what evidence you need to be certified</h3>
    <p>This is a matrix that outlines the minimum Pre-assessment criteria a provider needs to meet.</p>

    <h3 class="govuk-heading-s">Terms and conditions of certification</h3>
    <p>[...]</p>
    
    <h3 class="govuk-heading-s">Complete a statement of conformity</h3>
    <p>A form that the service provider completes and signs to provide details of certificates held to prove conformity</p>


      <h3 class="govuk-heading-s">Attribute Registration Profile</h3>
      <p>Attribute Registration Profile</p>

      <h3 class="govuk-heading-s">Base Profile</h3>
      <p>A document that describes what needs to be met and will be checked for business probity and management competence, management of security procedures, assurance of technical infrastructure, suitability of personnel and external relationships.</p>

      <h3 class="govuk-heading-s">Credential Management Profile</h3>
      <p>Credential Management Profile</p>

      <h3 class="govuk-heading-s">Credential Validation Profile</h3>
      <p>Credential Validation Profile</p>

      <h3 class="govuk-heading-s">Identity Provider Profile</h3>
      <p>Identity Provider Profile</p>

      <h3 class="govuk-heading-s">Identity Registration Profile</h3>
      <p>Identity Registration Profile</p>

      <h3 class="govuk-heading-s">Compliance report</h3>
      <p>Report to be produced to prove compliance</p>
  
      <h3 class="govuk-heading-s">Approval criteria</h3>
      <p>A matrix that gives the criteria to be met for Approval status</p>

      <h3 class="govuk-heading-s">Approval procedure</h3>
      <p>Document that describes how the Approval procedure works</p>

      <h3 class="govuk-heading-s">Approval feedback report</h3>
      <p>Template to be completed by auditor to provide an Approval feedback report</p>

      <h3 class="govuk-heading-s">Approval re-validation report</h3>
      <p>Template to be completed by auditor to provide an Approval re-validation report</p>

      <h3 class="govuk-heading-s">Certification criteria</h3>
      <p>A matrix that gives the criteria to be met for Certification criteria</p>

      <h3 class="govuk-heading-s">Certification procedure</h3>
      <p>Document that describes how the Certification procedure works</p>

      <h3 class="govuk-heading-s">Certification feedback report</h3>
      <p>Template to be completed by auditor to provide an Certification feedback report</p>

      <h3 class="govuk-heading-s">Re-certification report</h3>
      <p>Template to be completed by auditor to provide a Re-certification report</p>

      <h3 class="govuk-heading-s">Self-assessment criteria</h3>
      <p>A matrix that gives the criteria to be met for Self-assessment criteria</p>

      <h3 class="govuk-heading-s">Self-assessment procedure</h3>
      <p>Document that describes how the Self-assessment procedure works</p>

      <h3 class="govuk-heading-s">Self-assessment feedback report</h3>
      <p>Template to be completed by auditor to provide an Self-assessment feedback report</p>

      <h3 class="govuk-heading-s">Self-assessment re-validation report</h3>
      <p>Template to be completed by auditor to provide an Self-assessment re-validation report</p>

      <h3 class="govuk-heading-s">Service description template full</h3>
      <p>This is a template to be filled out by a provider to fully describe their Service. It will be used by auditors and sent to the Framework’s AB.</p>

      <h3 class="govuk-heading-s">Service description template outline</h3>
      <p>This is a template to be filled out by a provider to provide an initial outline to describe their Service. It will be used by auditors, used as a way for auditors to ensure the choice of certification is applicable and sent to the Framework’s AB.</p>

      <h3 class="govuk-heading-s">Internal audit procedure</h3>
      <p>Document that describes how the Internal audit procedure works</p>

      <h3 class="govuk-heading-s">Trust Framework Trust Mark Usage</h3>
      <p>Describes how a certified/approved provider is allowed to use the trustmark</p>
      
    </ul>

  </div>

</div>

{% endblock %}
