
{% extends "layout.html" %}

{% block pageTitle %}
  How certification works
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
  	<a href="/{{ url }}/join" class="govuk-back-link">Back</a>
    <h1 class="govuk-heading-xl">How certification works</h1>
    
    <p>Your organisation must be 'certified' before you can join the trust framework.</p>
    <p>To be certified, an auditor will need to check that you can provide identity services that meet <a href="https://www.gov.uk/government/collections/identity-proofing-and-authentication">the UK government's identity standards</a>.</p>
    <p>It usually takes between 1 and 3 months to be certified. It costs £0000000000000 to become a member of the trust framework.</p>



    <h2 class="govuk-heading-m">Levels of certification</h2>
	  
	  <p>You’ll need a different level of certification depending on your role in the trust framework.</p>
    <p>There are 3 ways your organisation can be certified.</p>
    <p>If you want to be a broker you can do the audit remotely. You’ll need to send the auditor your evidence. They’ll review your evidence and certify your organisation if they think you meet the identity standards.</p>
    <p>If you want to be an identity provider, you’ll need to send the auditor your evidence. They will review it and then visit your place of work to make sure you meet the identity standards.</p>
    <p>If you want to be an attribute provider, you’ll need to send the auditor your evidence. They’ll review it and then visit your place of work to make sure you meet the identity standards. The auditor will make some recommendations and visit you again to review any changes you’ve made. They’ll then decide if you meet the identity standards.</p>

    <h2 class="govuk-heading-m">If you want to be certified</h2>
    <p>If you’d like to be certified, you need to:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>choose an auditor</li> 
      <li>gather evidence to send to your auditor</li>
      <li>describe your service and, if necessary, host an auditor at your place of work</li>
    </ul>
    <p>If you’d like to apply to be certified, follow the steps on <a href="/{{ url }}/certification">Get certified to be part of the trust framework</a>.</p>

  </div>

</div>

{% endblock %}
