
{% extends "layout.html" %}

{% block pageTitle %}
  How certification works
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
  	<a href="/{{ url }}/certification" class="govuk-back-link">Back</a>
    <h1 class="govuk-heading-xl">How certification works</h1>
    
    <p>Your organisation must be 'certified' before you can join the trust framework.</p>

    <p>To be certified, an independent auditor will need to check that you're able to provide identity services that meet the <a href="https://www.gov.uk/government/collections/identity-proofing-and-authentication">UK government's identity standards</a>.</p>

    <p>It usually takes between 1 and 3 months to be certified.</p>

    <h2 class="govuk-heading-m">What you need</h2>
	  
	  <p>To be certified, your organisation will need to show evidence that it does all of the following:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>is a registered company</li>
  		<li>follows the relevant legislation, for example the General Data Protection Regulation (GDPR)</li>
  		<li>follows an internationally recognised information security standard, such as ISO/IEC 27001, ISO/IEC 27002, NIST 800 Series or ITIL security management</li>
      <li>manages risks to your service in a way that follows industry standards, such as ISO/IEC 27005 or BS 7799-3</li>
      <li>has an ISO 9001 certificate (these usually expire every 3 years so you must make sure your certificate is still valid)</li>
      <li>has someone on the organisation's management team who's responsible for security policies</li>
      <li>keeps a log of any time your security policies or safeguards have been compromised (the log should include times and dates of the events, as well as what you did to fix them)</li>
    </ul>

    <p>If you have all of these, you can find an independent auditor. You can do this before or after you've built your service.</p>

    <h2 class="govuk-heading-m">How to be certified</h2>
    <p>There are 3 ways your organisation can be certified.</p>

    <h3 class="govuk-heading-s">Self assessment</h3>
    <p>You send the auditor your evidence. They will review it and certify your organisation if they think you meet the identity standards.</p>

    <h3 class="govuk-heading-s">Approval</h3>
    <p>You send the auditor your evidence. They will review it and then visit your place of work to check the way you work meets the identity standards.</p>

    <h3 class="govuk-heading-s">Full certification</h3>
    <p>You send the auditor your evidence. They will review it and then visit your place of work to check the way you work meets the identity standards. They will make some recommendations and then visit your place of work again to check if you've made any changes to your process. </p>

  </div>

</div>

{% endblock %}
