
{% extends "layout.html" %}

{% block pageTitle %}
  An introduction to the trust framework for identity and attributes
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">An introduction to the trust framework for identity and attributes</h1>  
    <h2 class="govuk-heading-l">Our vision for digital identity</h2>
    <p class="govuk-body">Digital identity is an important part of the UK's digital economy and society. It can help:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>people do things online securely</li>
      <li>organisations improve and create online products and services</li>
      <li>organisations to get more value from these products and services</li>
    </ul>
    <p class="govuk-body">Without digital identity, transactions will continue to be paper-based which puts people and your organisation at risk of fraud.</p>
    <p class="govuk-body">Digital identity is only one part of the problem to solve. Many organisations also need to confirm information about someone to find out if they're eligible to do things online. To help organisations do this, there needs to be a way for organisations to access additional information about a person (also known as 'attributes') along with, or instead of, their digital identity.</p>
    <p class="govuk-body">We want people to be able to create, use and reuse their digital identity accounts across the public and private sectors. We also want attributes to be easily and securely shared between organisations. This does not currently happen because different organisations do not have a way to trust the identity or attribute checks done by others, which means:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>people often have to prove their identity again and again</li>
      <li>organisations cannot easily share digital identity accounts and attributes with each other</li>
    </ul>
  </div>
</div>

<div class="govuk-grid-row govuk-!-padding-top-9">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-l">A shared set of rules</h2>
    <p class="govuk-body">The trust framework makes it easier for people to create, use and reuse digital identities. The trust framework is a shared set of rules that will help organisations check identities and share attributes in a consistent way. This will mean all digital identities created as part of the trust framework will be trusted enough to be reused by the person across public and private sectors and countries.</p>    
    <p>The trust framework will include shared agreements, standards and guidance, which explain things like:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>what the different participants in the trust framework do and how it works</li>
      <li>the contractual obligations that participants must sign up to in order to take part</li>
      <li>digital identity principles and privacy rules</li>
      <li>how to measure confidence in an identity and attributes</li>
      <li>operational rules for participants</li>
      <li>how the trust framework is governed and maintained</li>
      <li>a certification model that will make sure all services meet the requirements of the trust framework and publish a list of approved participants</li>
      <li>guidance to help participants build services that meet people's needs, such as user experience guidance</li>
      <li>technical specifications that enable participants to easily take part</li>
    </ul>
    <p>The trust framework is run by an authoritative body.</p>
  </div>
</div>

<div class="govuk-grid-row govuk-!-padding-top-9">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-l">Who the trust framework is for</h2>
    <p>Services might need to make sure someone is who they say they are before letting them do something online. To do this, a service can work with organisations that are part of the trust framework. These organisations can do any of the following things:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>check and prove someone's identity as an 'identity provider'</li>
      <li>share attributes with identity providers and service teams as an 'attribute provider'</li>
      <li>connect services to identity providers and attribute providers as a 'broker'</li>
    </ul>
  </div>
</div>



<div class="govuk-grid-row govuk-!-padding-top-9">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-l">Benefits of being part of the trust framework</h2>
    <p class="govuk-body">The trust framework will give someone a trusted digital identity, which they can use again to access other public and private sector services.</p>
    <p>The trust framework will help participants:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>trust a digital identity because they know it was created in a way that follows common standards and best practice guidance</li>
      <li>find a solution that works for their users by giving them a wide range of identity and attribute providers to choose from</li>
      <li>reduce fraud by giving them access to digital identities that have been thoroughly proved and verified</li>
      <li>share fraud reports and get early insights of emerging threats</li>
      <li>access checks against government data, which will make it easier to check and prove users' identities</li>
      <li>enables a user who has an account covered by the trust framework rules to use it with every service that uses the trust framework and accepts the level of assurance they have</li>
      <li>offer tailored services to a specific demographic of users</li>
      <li>sell identity products in transparent, trusted and flexible markets</li>
      <li>find new market opportunities in the public and private sectors </li>
    </ul>
    <p class="govuk-body">The trust framework will be designed to be user-centred, transparent, interoperable, portable, adaptable, scalable, secure, accessible, inclusive and cost effective. It will also put people in control of their own data.</p>
    
    <a href="/{{ url }}/join" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button">
        Become a participant
        <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" role="presentation" focusable="false">
          <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
        </svg>
      </a>
  </div>
</div>

{% endblock %}
