
{% extends "layout.html" %}

{% block pageTitle %}
  Join and participate in the trust framework
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">Join and participate in the trust framework</h1>
    
    <ol class="app-task-list">
      <li>
        <h2 class="app-task-list__section">
          <span class="app-task-list__section-number">1.</span> Find out about the trust framework
        </h2>
        <p>The trust framework is a shared set of rules that makes it possible for companies that provide digital identity services to work with another.</p>
        <ul class="govuk-list govuk-list--bullet">
          <li><a href="/{{ url }}/introduction">What the trust framework is and how it works</a></li>
          <li><a href="/{{ url }}/users">Who's part of the trust framework</a></li>
        </ul>
      </li>
      
      <li>
        <h2 class="app-task-list__section">
          <span class="app-task-list__section-number">2.</span> Decide if it’s right for you
        </h2>
        <ul class="govuk-list govuk-list--bullet">
          <li><a href="/{{ url }}/participants">Understanding participants in the trust framework</a></li>
          <li><a href="/{{ url }}/governance">How the trust framework is run</a></li>
          <li><a href="/{{ url }}/standards">Standards and rules you must follow</a></li>
        </ul>
      </li>

      <li>
        <h2 class="app-task-list__section">
          <span class="app-task-list__section-number">2.</span> Tell us you’re joining
        </h2>
        <ul class="govuk-list govuk-list--bullet">
          <li><a href="/{{ url }}/list-assessors">List of assessors/auditors</a></li>
          <li><a href="/{{ url }}/apply">Fill out an application form and appoint an auditor</a></li>
        </ul>
      </li>

      <li>
        <h2 class="app-task-list__section">
          <span class="app-task-list__section-number">3.</span> Build or adapt your service
        </h2>
        <ul class="govuk-list govuk-list--bullet">
          <li><a href="#">Set up your OpenID Connect profile</a></li>
          <li><a href="#">Check your technical compliance</a></li>
          <li><a href="#">Enrolling in the directory</a></li>
          <li><a href="#">Set up a test environment </a></li>
          <li><a href="#">Follow the data specification (and trust schema)</a></li>
          <li><a href="/{{ url }}/usability-guidelines">Usability guidelines</a></li>
        </ul>

                
      </li>
      
      <li>
        <h2 class="app-task-list__section">
          <span class="app-task-list__section-number">4.</span> Get certified
        </h2>
        <ul class="govuk-list govuk-list--bullet">
          <li><a href="/{{ url }}/get-certified">Get certified to be part of the trust framework</a></li>
          <li><a href="/{{ url }}/testing">Testing your service</a></li>
          
        </ul>
      </li>

      <li>
        <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">5.</span> Sign contract and join
        </h2>
        
        <ul class="govuk-list govuk-list--bullet">
          <li><a href="/{{ url }}/sign-contract">Sign contract</a></li>
        </ul>

        <p>Once you signed the contract, you have to:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li><a href="#">Join the trust framework directory</a></li>
          <li><a href="#">Connect to eIDAS if you're a broker</a></li>
        </ul>

      </li>
      
      <li>
        <h2 class="app-task-list__section">
          <span class="app-task-list__section-number">6.</span> Participate
        </h2>
        <ul class="govuk-list govuk-list--bullet">
          <li><a href="/{{ url }}/being-participant">Being a participant</a></li>
          <li><a href="{{ beingIdentityProvider }}">Being an identity provider</a></li>
          <li><a href="/{{ url }}/being-attribute-provider">Being an attribute providers</a></li>
          <li><a href="/{{ url }}/being-broker">Being a broker</a></li>
          <li><a href="/{{ url }}/leaving">Leaving the trust framework</a></li>

        </ul>

      </li>

    </ol>



  </div>
      
</div>

{% endblock %}
