
{% extends "layout.html" %}

{% block pageTitle %}
  Standards and rules you must follow
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
  	<a href="/{{ url }}/join" class="govuk-back-link">Back</a>
    <h1 class="govuk-heading-xl">Standards and rules you must follow</h1>
	  <ul class="govuk-list govuk-list--bullet">
      <li><a href="#">Limitations on liability</a></li>
      <li><a href="#">What you cannot do as part of the trust framework</a></li>
      <li><a href="#">Warranties</a></li>
      <li><a href="#">Pay fee</a></li>
      <li><a href="#">Due diligence</a></li>
      <li><a href="#">Authority responsibilities</a></li>
      <li><a href="#">KPI</a></li>
      <li><a href="#">Terms and conditions of the framework agreement</a></li>
      <li><a href="#">Branding and marketing rules</a></li>
      <li><a href="#">Conditions precedent (Operations Conditions Precedent)</a></li>
      <li><a href="#">Miscellaneous and governing law</a></li>
      <li><a href="#">IP rights</a></li>
      <li><a href="#">Confidentiality</a></li>
      <li><a href="#">FOI</a></li>
      <li><a href="#">Indemnities</a></li>
      <li><a href="#">Insurance</a></li>
      <li><a href="#">Change control process</a></li>
      <li><a href="#">Complaints process</a></li>
      <li><a href="#">Guarantees</a></li>
      <li><a href="/{{ url }}/withdrawal">Withdrawal and revocation</a></li>
	  </ul>

  </div>

</div>

{% endblock %}
