
{% extends "layout.html" %}

{% block pageTitle %}
  Standards and rules you must follow
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
  	<a href="/{{ url }}/join" class="govuk-back-link">Back</a>
    <h1 class="govuk-heading-xl">Standards and rules you must follow</h1>
    <p>This page lists all the standards and rules that you must follow to be a participant on the trust framework:</p>
	<ul class="govuk-list govuk-list--bullet">
    <li><a href="https://www.gov.uk/government/publications/identity-proofing-and-verification-of-an-individual/identity-proofing-and-verification-of-an-individual">Identity proofing and verfication of an individual</a></li>
    <li><a href="{{ usingCredentials }}">Using credentials to protect an online service</a></li>
	  <li><a href="/{{ url }}/manage-identity-risks">Manage identity risks to your service</a></li>
	  <li><a href="/{{ url }}/attributes">Understanding, sharing and maintaining attributes</a></li>
	  <li><a href="/{{ url }}/attribute-metadata">How to describe your attributes</a></li>
	  <li><a href="https://www.gov.uk/government/publications/transaction-monitoring-for-hmg-online-service-providers">Transaction monitoring for HMG online service providers</a></li>
    <li><a href="/{{ url }}/privacy-rules">Privacy rules of the trust framework</a></li>
    <li><a href="https://www.gov.uk/government/publications/govuk-verify-identity-assurance-principles/identity-assurance-principles">Identity Assurance Principles</a></li>
	</ul>



  </div>

</div>

{% endblock %}
