
{% extends "layout.html" %}

{% block pageTitle %}
  Standards and rules you must follow
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
  	<a href="/{{ url }}/join" class="govuk-back-link">Back</a>
    <h1 class="govuk-heading-xl">Standards and rules you must follow</h1>
    <p>This page lists all the standards and rules that you must follow to be a participant on the trust framework:</p>
	<ul class="govuk-list govuk-list--bullet">
    <li><a href="#">Identity proofing and verfication of an individual</a></li>
    <li><a href="#">Check evidence is genuine or valid</a></li>
    <li><a href="#">Using credentials to protect an online service</a></li>
	  <li><a href="#">Manage identity risks to your service</a></li>
	  <li><a href="#">Understanding, sharing and maintaining attributes</a></li>
	  <li><a href="#">How to describe your attributes (attribute metadata)</a></li>
	  <li><a href="#">Transaction monitoring for HMG online service providers</a></li>
    <li><a href="/{{ url }}/privacy-rules">Privacy rules of the trust framework</a></li>
    <li><a href="/{{ url }}/identity-principles">Identity Assurance Principles</a></li>
	</ul>



  </div>

</div>

{% endblock %}
