
{% extends "layout.html" %}

{% block pageTitle %}
  Fill out an application form and request an auditor
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
  	<a href="/join" class="govuk-back-link">Back</a>
    <h1 class="govuk-heading-xl">Apply to join the IAX</h1>
    
    <p>If you want to be an identity provider on the Identity and Attributes Exchange (IAX) you need to apply to join.</p>
    
    <p>Find out more about the <a href="/iax-benefits">benefits of joining the IAX</a>.</p>
    <p>Once you’ve completed the pre-application checklist, and your auditor has confirmed you meet the criteria, you should <a href="https://docs.google.com/document/d/1yynQQ-lur_C7rwrTRTy_2GWE1fsdHmn2Xzkjv3stEi0/edit">apply to join the IAX</a>.</p>
    
    <p>You’ll need to include:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>your contact details</li>
      <li>company information</li>
      <li>details about your service</li>
    </ul>
      
      <p>Once your application has been approved, you can <a href="/how-certification-works">get certified</a>.</p>

  </div>

</div>

{% endblock %}
