
{% extends "layout.html" %}

{% block pageTitle %}
  Fill out an application form and appoint an auditor
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
  	{% include 'intro-summary.html' %}
  	<a href="/join" class="govuk-back-link">Back</a>
    <h1 class="govuk-heading-xl">Apply to join the trust framework</h1>
    <p>Apply to become a participant of the trust framework: what information you need and where you should send it.</p>
  </div>

</div>

{% endblock %}
