
{% extends "layout.html" %}

{% block pageTitle %}
  Submit an application and get certified
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
  	<a href="/join" class="govuk-back-link">Back</a>
    <h1 class="govuk-heading-xl">Apply to join the IAX</h1>
    
    <p>If you want to be an identity provider on the Identity and Attributes Exchange (IAX) you need to:</p>
    
        <ul class="govuk-list govuk-list--bullet">
      <li>apply to join</li>
      <li>be certified as a trusted provider</li>
    </ul>
    
    <p>Find out more about the <a href="/iax-benefits">benefits of joining the IAX</a>.</p>
    
    <h2 class="govuk-heading-l">How to apply</h2>
    
    <p>First, <a href="/what-you-need">check you meet the standards and rules of the IAX</a>.</p>
    
    <p>You're now ready to apply to join the IAX. <a href="https://github.com/kubabartwicki/verify-participants-joining/raw/master/app/assets/application-form.odt">Download the application form</a>.</p>
      
    <p>Email your completed form to <a href="iax@digital.cabinet-office.gov.uk">iax@digital.cabinet-office.gov.uk</a>.</p>
    
    <p>In your application, you’ll need to include:</p>
    
    <ul class="govuk-list govuk-list--bullet">
      <li>your contact details</li>
      <li>company information</li>
      <li>details about your service</li>
      <li>details about the standards and rules you follow in your organisation</li>
    </ul>
    
    <p>Once the IAX’s authoritative body has confirmed they're happy with your application form, you should choose an independent auditor you’d like to work with. For the user research, an auditor will be provided for you.
      
    <p>The authoritative body will give the auditor copies of your application. Your auditor will use this information to tell you if you:</p>
    
    <ul class="govuk-list govuk-list--bullet">
      <li>need to provide more evidence before you can go to the next step</li>
      <li>can make the certification process quicker using certificates you already have or regulations you already meet</li>
    </ul>
    
    <p>The rest of the certification process will happen through email and calls directly with your auditor.</p>
      
      <p>Once your application has been aproved, you can <a href="/certification">get certified</a>.</p>
    
     <h2 class="govuk-heading-l">Being assessed</h2>
    
     <p>To be assessed you’ll need to complete, and return to your auditor, the:</p>
    
    <ul class="govuk-list govuk-list--bullet">
      <li>service specification</li>
      <li>relevant profile</li>
    </ul>
    
    <p>Your auditor will give you these documents and advise you about the <a href="/standards">standards and rules</a> you’ll need to show you meet.</p>

    <p>You'll need to work closely with your auditor throughout the certification process. Always ask questions when you need to, especially before completing the service specification and profile.</p>

      <p>You'll need to provide any evidence requested by your auditor and they’ll let you know of any changes you need to make before you can be certified.</p>
    
     <h2 class="govuk-heading-l">Getting the certification</h2>
    
    <p>Once the audit process is complete, the auditor will let you know if they’ll be recommending a pass or fail.</p>

    <p>If they recommend a pass, they'll submit the evidence and their decision to the authoritative body. The authoritative body will review the evidence and confirm if they agree with the decision.</p>

    <p>If you've failed, your auditor will suggest what you can do now. For instance, they may ask you to provide further evidence.</p>
  
     <h2 class="govuk-heading-l">What's next</h2>

<p>Once the authoritative body has confirmed you’ve passed, you’re ready to join the IAX and start using the trustmark.</p>

  </div>

</div>

{% endblock %}
