
{% extends "layout.html" %}

{% block pageTitle %}
  How to describe your attributes
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
  	<a href="/standards" class="govuk-back-link">Back</a>
    <h1 class="govuk-heading-xl">How to describe your attributes</h1>
    <p>You must have a way to measure and describe the quality of the attributes you keep. This is because other participants in the trust framework will use this information to choose which attribute provider they request attributes from. </p>
    <p>Follow this guidance to find out how to describe attributes.</p>
  </div>

</div>

{% endblock %}
