


{% extends "layout.html" %}

{% block pageTitle %}
  Being a participant on the IAX
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    {% include 'intro-draft.html' %}
  	<a href="/join" class="govuk-back-link">Back</a>
    <h1 class="govuk-heading-xl">Being a participant on the IAX</h1>
    <p>All participants in the trust framework must follow the guidance on:</p>
    <ul class="govuk-list">
      <li><a href="/threat-intelligence">Threat intelligence and counter fraud guidance</a></li>
      <li><a href="/threshold">Threshold and alert policy</a></li>
      <li><a href="/fraud-incident">Report an incident</a></li>
      <li><a href="/sharing-data-about-service">Sharing data about the use of your service</a></li>
      <li><a href="/public/contra-indicators.pdf">What to do if a user gives you wrong or contradictory information (opens as a PDF)</a></li>
      <li><a href="/public/manage_records.pdf">How to manage your records (opens as a PDF)</a></li>
    </ul>
  </div>

</div>

{% endblock %}
