
{% extends "layout.html" %}

{% block pageTitle %}
  Get certified to be part of the IAX
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    {% include 'intro-draft.html' %}
  	<a href="/join" class="govuk-back-link">Back</a>
    <h1 class="govuk-heading-xl">Get certified to be part of the IAX</h1>

      <p>You’re ready to be certified once you’ve:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>decided on the role you want to play in the IAX</li>
        <li>applied to join the IAX</li>
        <li>chosen an auditor you want to work with</li>
        <li>built your service</li>
      </ul>
      <h2 class="govuk-heading-m">Before you start your application</h2>

      <p>Your auditor will need to confirm you meet some conditions before you carry on with your application.</p>

      <p>They’ll ask you to complete a statement of conformity. The statement of conformity covers things like:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>a brief description of your service to help your auditor understand your service</li>
        <li><a href="/standards">evidence you meet the necessary criteria</a>, for example your company is registered with Companies House</li>
      </ul>

      <p>Your auditor will use it to let you know if you can apply for certification, confirm the level you need, or if you need to provide more evidence.</p>

      <p>They do this using the criteria outlined in the documents on <a href="/audit-service">Audit a service that wants to join the IAX</a> and in the relevant profiles.</p>

      <p><a href="https://docs.google.com/document/d/1h06iRXD8UIUSTZtlyQNYBSduouhDd-XzKOYRUjjdYAQ/edit" class="govuk-button">Download the statement of conformity</a></p>

      <h2 class="govuk-heading-m">Complete the application documents</h2>
      <p>You’ll need to provide more information so your auditor can evaluate your application for certification.</p>

      <p>You’ll need to:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>write a full description of your service</li>
        <li>send your auditor the evidence they ask to see</li>
      </ul>
      <p>Your auditor will advise you on the particular areas you need to provide more detail about in your application.</p>


      <h2 class="govuk-heading-m">Working with your auditor</h2>
      <p>The auditor may need to ask you some follow up questions about the evidence you’ve submitted. </p>
      <p>Your auditor will decide if they have enough information to make a decision or if an on-site audit is necessary.</p>
      <p>On-site audits are needed because of the complexity of the role you’ll play on the IAX. Some roles will need 2 on-site audits. Your auditor will tell you what you need to do and what happens next.</p>

      <h2 class="govuk-heading-m">Getting certified</h2>
      <p>Once the audit process is complete, the auditor will let you know if they’ll be recommending a pass or fail.</p>
      <p>If they recommend a pass, they’ll submit the evidence and their decision to the authoritative body. The authoritative body will review the evidence and confirm if they agree with the decision. </p>
      <p>If you’ve failed, your auditor will suggest what you can do now. For instance, they may arrange another on-site audit or ask you to provide further evidence. </p>

      <h2 class="govuk-heading-m">What's next</h2>
      <p>Once the authoritative body has confirmed you’ve passed, you’re ready to <a href="/sign-contract">sign the contract</a> with the IAX and start using the trustmark.</p>

  </div>

</div>

{% endblock %}
