
{% extends "layout.html" %}

{% block pageTitle %}
  Get certified to be part of the IAX
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
  	<a href="/join" class="govuk-back-link">Back</a>
    <h1 class="govuk-heading-xl">Get certified to be part of the IAX</h1>

      <p>You’re ready to be certified once you’ve:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>decided on the role you want to play in the IAX</li>
        <li>been given an auditor you want to work with</li>
        <li>built your service</li>
      </ul>
      <h2 class="govuk-heading-l">Before you start your application</h2>

      <p>Your auditor will need to confirm you meet some conditions before you carry on with your application. You’ll need to complete the <a href="/public/pre-application-checklist.odt">pre-application checklist to do this</a>.</p>

      <p>If your auditor confirms you meet all the required conditions, then you can <a href="/apply">apply to join the IAX</a>.</p>

      <p>Once you’ve applied to join the IAX, you can apply to be certified. You can read more about the <a href="/approval">certification process</a>.</p>

      <h2 class="govuk-heading-l">Complete a statement of conformity</h2>

      <p>Your auditor will then ask you to complete a statement of conformity. The statement of conformity includes:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>a brief description of your service</li>
        <li><a href="/standards">evidence you meet the necessary criteria</a>, for example your company is registered with Companies House</li>
        <li>evidence that you follow a recognised risk management standard</li>
      </ul>

      <p>Your auditor will use this information to:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>confirm the level of certification you need</li>
        <li>tell you if you need to provide more evidence before you can apply</li>
        <li>tell you if you can reuse any certificates you already have or give you credit where you already meet other regulations - this will make the certification process quicker</li>
      </ul>

      <p>They do this using the criteria outlined in the documents on <a href="/audit-service">Audit a service that wants to join the IAX</a> and in the relevant profiles.</p>

      <p><a href="https://docs.google.com/document/d/1h06iRXD8UIUSTZtlyQNYBSduouhDd-XzKOYRUjjdYAQ/edit" class="govuk-button">Download the statement of conformity</a></p>

      <h2 class="govuk-heading-l">Complete your application</h2>

      <p>You’ll need to provide more information so your auditor can evaluate your application for certification.</p>

      <p>You’ll need to:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>write a full description of your service</li>
        <li>send your auditor the evidence they ask to see</li>
      </ul>

      <p>The auditor will also assess your technical competence and the controls you have in place. They'll do this using profiles. You’ll be assessed against the identity provider profile and the base profile.</p>

      <p>The profiles list the evidence you need to provide to pass certification.</p>

      <p>Your auditor will:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>advise on any areas in your application that you need to provide more detail about</li>
        <li>check you comply with the <a href="/standards">standards and rules</a></li>
      </ul>

      <p>Find out more about <a href="/how-audits-work">how you will be audited</a>.</p>

      <h2 class="govuk-heading-l">Working with your auditor</h2>

      <p>The auditor may need to ask you some follow up questions about the evidence you’ve submitted. </p>
      <p>Your auditor will decide if they have enough information to make a decision or if an on-site audit is necessary.</p>
      <p>On-site audits are needed because of the complexity of the role you’ll play on the IAX. Some roles will need 2 on-site audits.</p>
      <p>Given the current situation, wherever possible the auditor will do a remote audit and desk review of the evidence you supply and arrange a remote meeting as a follow up.</p>
      <p>Your auditor will tell you what you need to do and what happens next.</p>

      <h2 class="govuk-heading-l">Getting certified</h2>

      <p>Once the audit process is complete, the auditor will let you know if they’ll be recommending a pass or fail.</p>
      <p>If they recommend a pass, they’ll submit the evidence and their decision to the authoritative body. The authoritative body will review the evidence and confirm if they agree with the decision. </p>
      <p>If you’ve failed, your auditor will suggest what you can do now. For instance, they may arrange another on-site audit or ask you to provide further evidence. </p>

      <h2 class="govuk-heading-l">What's next</h2>
      <p>Once the authoritative body has confirmed you’ve passed, you’re ready to <a href="/sign-contract">sign the contract</a> with the IAX and start using the trustmark.</p>

  </div>

</div>

{% endblock %}
