{% extends "layout.html" %}

{% block pageTitle %}
  Data protection in the Identity and Attributes Exchange
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Data protection in the Identity and Attributes Exchange</h1>

    
<p>Personal information, or personal data, is information that can be used to identify someone. It does not have to be written down or even be true to count as personal information.</p>

<p>When you collect any personal information, you must make sure it’s accurate and secure.</p>

<h2 class="govuk-heading-l">Your responsibilities</h2>

<p>To join the Identity and Attributes Exchange (IAX), you must protect users’ personal information ‘by design and by default’. This was previously known as ‘privacy by design’.</p>

<p>When you handle personal information you must:</p>

<ul class="govuk-list govuk-list--bullet">
    <li>be proactive, and be ready to stop privacy issues or risks before they happen</li>
    <li>use consistent approaches to find and address problems</li>
  <li>meet specific <a href="#privacy-principles">privacy principles</a></li>
    <li>support privacy and security without prioritising one over the other</li>
</ul>

<p>You might already be doing everything you need to by complying with the GDPR (General Data Protection Regulation). The Information Commissioner’s Office (ICO) has a <a href="https://www.gov.uk/government/publications/guide-to-the-general-data-protection-regulation">guide to the GDPR</a> that explains its requirements.</p>

<h3 class="govuk-heading-m">Using a privacy compliance framework</h3>

<p>You must have a structure you use to keep personal information secure. This is called a ‘privacy compliance framework’ (sometimes known as a privacy information management system, or PIMS).</p>

<p>You must be able to show that your privacy compliance framework meets the following standards:</p>

<ul class="govuk-list govuk-list--bullet">
  <li><a href="https://shop.bsigroup.com/ProductDetail?pid=000000000030378574">BS 10012:2017</a> from the BSI (British Standards Institution)</li>
  <li><a href="https://www.iso.org/obp/ui/#iso:std:iso-iec:27701:ed-1:v1:en">ISO/IEC 27701:2019</a> from the ISO (International Organization for Standardization)</li>
</ul>

<p>If you do not have a privacy compliance framework, you’ll need to set one up. The BSI and ISO standards both include information to help you create and maintain a framework.</p>

<p>You’ll also need several things that support your framework. They are:</p>

<ul class="govuk-list govuk-list--bullet">
    <li>a clear data protection policy, which is understood and followed at all levels</li>
  <li>a named privacy officer - you’ll need to <a href="#privacy-officer">appoint one</a> if you do not have one</li>
    <li>secure audit logs that do not introduce personal information risks</li>
    <li>a complaints procedure</li>
  <li>a process for doing <a href="https://ico.org.uk/for-organisations/guide-to-data-protection/guide-to-the-general-data-protection-regulation-gdpr/accountability-and-governance/data-protection-impact-assessments/">data protection impact assessments</a>, also known as ‘privacy impact assessments’ </li>
</ul>

    <h4 class="govuk-heading-s"><a id="privacy-officer">Appointing a privacy officer</a></h4>

<p>Choose someone to be your privacy officer, if you do not have one. They will be responsible for making sure your organisation follows your data protection policy.</p>

<p>The privacy officer will need to:</p>

<ul class="govuk-list govuk-list--bullet">
    <li>keep your privacy policy up to date</li>
    <li>make sure you have a process for dealing with any requests to access or correct personal information</li>
    <li>handle personal information requests</li>
    <li>work with the authorities if any complaints need to be investigated</li>
</ul>

<p>They should also carry out your data protection impact assessments (DPIAs). DPIAs can help you identify and minimise the privacy risks associated with new initiatives or changes.</p>

<h4 class="govuk-heading-s">Using data protection systems</h4>

<p>Any systems that you design or use for data protection should give equal attention to every step of building and running your service. They should also:</p>

<ul class="govuk-list govuk-list--bullet">
    <li>complement your technology, operation and information architecture</li>
    <li>use externally accepted standards and regulations to make your systems easier to review - for example, the widely used <a href="https://www.iso.org/obp/ui/#iso:std:iso-iec:29100:ed-1:v1:en">terms and definitions in ISO/IEC 29100</a></li>
</ul>

      <h3 class="govuk-heading-m"><a id="privacy-principles">Privacy principles</a></h3>

<p>You must tell people what you’re going to do with their information. This includes:</p>

<ul class="govuk-list govuk-list--bullet">
    <li>what information is being collected</li>
    <li>why it’s being collected and how it will be used</li>
    <li>who it might be shared with and why</li>
    <li>how it will be kept secure</li>
    <li>details about their right to review and correct it</li>
</ul>

<p>The following principles give more details about what you need to do. When you work with an auditor, they’ll check how you meet each of them.</p>

<h4 class="govuk-heading-s">Principle 1: Take responsibility</h4>

<p>You must take responsibility for what you do with users’ personal information. To help demonstrate this, you'll be expected to meet all the other data protection requirements set by the IAX.</p>

<h4 class="govuk-heading-s">Principle 2: Have a legitimate reason for collecting information</h4>

<p>When you collect personal information, you must have a legitimate (‘lawful’) purpose for collecting it. You can only ask for information that will help you achieve that purpose.</p>

<p>You must make sure that the purpose is connected to a function or activity of the service. For example, if someone gives you their email address so you can create their digital identity, do not add it to a mailing list that’s used for advertising.</p>

<p>When you ask for information, you must consider how sharing it could affect someone. A person might worry about being:</p>

<ul class="govuk-list govuk-list--bullet">
    <li>discriminated against</li>
    <li>at risk if someone steals their information, for example for credit card fraud</li>
    <li>at risk if someone shares their information, for example if their home address is given to an abusive ex-partner</li>
</ul>

<p>In some cases people will be happier to share their information if it’s clear why you need it. For example, a pension calculator might need to know your gender because the rules are different for men and women.</p>

<h4 class="govuk-heading-s">Principle 3: Tell people what you’ll do with their information</h4>

<p>You must make sure people can easily find out:</p>

<ul class="govuk-list govuk-list--bullet">
    <li>why you’re collecting information</li>
    <li>what it will be used for</li>
    <li>who you might share it with</li>
</ul>

<p>You should show this information clearly and in a way people can understand. For example, always give your purpose for collecting information in your privacy policy.</p>

<p>Do not mislead people about why you’re collecting their personal information, and only handle it in ways they would reasonably expect. People who share their information with you should never be surprised about how it’s used.</p>

<h4 class="govuk-heading-s">Principle 4: Do not use anyone’s information without their permission</h4>

<p>In most cases, personal information that you collect for one purpose must not be used for anything else.</p>

<p>To use existing information for a new reason, you must have:</p>

<ul class="govuk-list govuk-list--bullet">
    <li>a legitimate purpose for reusing the information</li>
    <li>the user's consent to use it for that purpose - unless you’re required to use it by law (for example, as part of an investigation)</li>
</ul>

<p>For example, if you collect someone’s mobile phone number to help check their identity, you might also use it for 2-factor authentication (2FA).</p>

<h4 class="govuk-heading-s">Principle 5: Do not share anyone’s information without their permission</h4>

<p>When you share someone’s personal information, you must have:</p>

<ul class="govuk-list govuk-list--bullet">
    <li>a legitimate purpose for sharing the information</li>
    <li>the user’s consent to share it for that purpose - unless you’re required to share it by law (for example, as part of an investigation)</li>
</ul>

<p>For example, you might share someone’s name, date of birth and email address so the user does not have to enter them again. You could use a checkbox to ask for consent for this.</p>

<h4 class="govuk-heading-s">Principle 6: Know where personal information came from</h4>

<p>You must be able to show that, where possible, you’ve collected personal information from someone directly. If the user did not give you the information themselves, you must have a record of where you got it.</p>

<ul class="govuk-list govuk-list--bullet">
    <li>regularly check your privacy communications are up to date</li>
    <li>design your consent process with users in mind</li>
    <li>consider how well people understand your consent process and related materials</li>
    <li>follow best practice or standards that comply with regulations</li>
</ul>

<p>You must also show how you meet these requirements in your ongoing compliance audits.</p>

<h4 class="govuk-heading-s">Principle 7: Collect information in a fair and legal way</h4>

    <p>You must not break any laws to collect personal information.</p> 

<p>You also need to be sure nothing ‘unlawful’ will happen as a result of what you're doing. This includes things like copyright infringement or breaching financial regulations.</p>    

<h4 class="govuk-heading-s">Principle 8: Use security measures to protect the information you collect</h4>

<p>You must use technical and organisational safeguards to protect personally identifiable information (PII) and data.</p>

<p>Your security measures must guarantee the confidentiality and integrity of information. This means they need to reliably protect information from:</p>

<ul class="govuk-list govuk-list--bullet">
    <li>loss or misuse</li>
    <li>unauthorised use, access, modification or disclosure</li>
    <li>fraud</li>
</ul>

<p>To do this, you must make sure that you:</p>

<ul class="govuk-list govuk-list--bullet">
    <li>use safeguards (for example, pseudonymisation and encryption) that are robust</li>
    <li>use security measures that guarantee confidentiality, integrity and availability</li>
    <li>test your security measures regularly, using the same tests each time, and improve them whenever you can</li>
    <li>can quickly restore access to personal data if there’s a physical or technical incident</li>
    <li>know how you’ll tell people if there’s a security breach, so they can protect themselves from potential identity theft</li>
</ul>

<p>You must also show how you meet these requirements in your ongoing internal audits.</p>

<h4 class="govuk-heading-s">Principle 9: Let users see their own information</h4>

<p>If you have anyone’s personal information, they must be able to:</p>

<ul class="govuk-list govuk-list--bullet">
    <li>ask you if you have it</li>
    <li>access it</li>
</ul>

<p>This is called their ‘right of access’ (also known as subject access). It helps people understand how and why you’re using their information.</p>

    <p>Follow the <a href="https://ico.org.uk/for-organisations/guide-to-data-protection/guide-to-the-general-data-protection-regulation-gdpr/individual-rights/right-of-access/">ICO’s guidance on how to handle right of access</a>.</p>

<h4 class="govuk-heading-s">Principle 10: Let users ask for corrections to their information</h4>

<p>If you have anyone’s personal information, they must be able to ask you to correct or update it. </p>

<h4 class="govuk-heading-s">Principle 11: Keep information accurate and up to date</h4>

<p>You must not use any personal information without taking ‘reasonable’ steps to make sure it’s accurate and not misleading in any way. In some cases you’ll also need to check that it’s up to date.</p>

<p>What you need to do depends on the information, your purpose for collecting it, and your systems. For example, an organisation might help meet this principle by:</p>

<ul class="govuk-list govuk-list--bullet">
    <li>asking end users for 2FA before they can update their postal address online</li>
    <li>improving their computer system to make it easier to add information</li>
    <li>asking their employees to check their emergency contact details once a year</li>
</ul>

<h4 class="govuk-heading-s">Principle 12: Dispose of information that you do not need</h4>

<p>You must not keep personal information for longer than you need to. When you no longer need someone’s information, you must erase or anonymise it.</p>

<p>The amount of time you can keep information for (its ‘retention period’) will usually depend on your purpose for collecting it.</p>

<p>You must:</p>

<ul class="govuk-list govuk-list--bullet">
    <li>be able to justify how long you keep personal information for</li>
  <li>have a <a href="/manage-records.html">record-keeping policy</a> that sets standard retention periods, where possible</li>
    <li>regularly review the information you hold to check you still need it</li>
</ul>

<p>An individual, auditor or regulator can challenge your retention of someone’s information at any time.</p>

<p>If you share anyone’s information with a third party, you must be specific about how long they can keep it for. The retention period will depend on why they need the information, but it must be as short as possible.</p>
    
  </div>

</div>

{% endblock %}
