
{% extends "layout.html" %}

{% block pageTitle %}
  Enrolling in the directory
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
  	<a href="/join" class="govuk-back-link">Back</a>
    <h1 class="govuk-heading-xl">Enrolling in the directory</h1>
    <p>Includes what information you need to provide and what you need to download.</p>
    <ul class="govuk-list govuk-list--number">
    	<li>Signing up to the directory</li>
    	<li>Establish your technical point of contact in your company</li>
    	<li>Establish your company's identity and eligibility</li>
    	<li>Accessing your sign in credentials to our testing environments</li>
    	<li>Submitting information about your software (metadata) and cryptographic material</li>
    	<li>Downloading signed assertions about your software which can be used to communicate with other parties in the framework</li>
    </ul>
  </div>

</div>

{% endblock %}
