
{% extends "layout.html" %}

{% block pageTitle %}
  Evidence you must provide

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
  	<a href="/standards" class="govuk-back-link">Back</a>
    <h1 class="govuk-heading-xl">Evidence you must provide</h1>
    <p>Before you start your application, you’ll need to prove that your organisation:</p>
    <ul class="govuk-list govuk-list--bullet">
    	<li>is a registered company</li>
    	<li>follows the relevant legislation, for example the General Data Protection Regulation (GDPR)</li>
    	<li>follows an internationally recognised information security standard, such as ISO/IEC 27001, ISO/IEC 27002, NIST 800 Series or ITIL security management</li>
    	<li>manages risks to your service in a way that follows industry standards, such as ISO/IEC 27005 or BS 7799-3</li>
    	<li>has an ISO 9001 certificate (these usually expire every 3 years so you must make sure your certificate is still valid)</li>
    	<li>has someone on the organisation's management team who's responsible for security policies</li>
    	<li>keeps a log of any time your security policies or safeguards have been compromised (the log should include times and dates of the events, as well as what you did to fix them)</li>
	</ul>

	<p>You’ll need to provide evidence to your auditor that you meet these standards. You’ll provide this evidence when you complete the statement of conformity when you’re <a href="/certification">getting certified</a>.</p>


  </div>

</div>

{% endblock %}
