
{% extends "layout.html" %}

{% block pageTitle %}
  How the trust framework is run
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
  	{% include 'intro-summary.html' %}
  	<a href="/join" class="govuk-back-link">Back</a>
    <h1 class="govuk-heading-xl">How the trust framework is run</h1>
    <p>This page describes how the trust framework is governed and operated by the authoritative body. It will include:</p>
    <ul class="govuk-list govuk-list--bullet">
    	<li>Introduction</li>
		<li>Scope</li>
		<li>Overview of Trust Framework</li>
		<li>Role of the Trust Framework</li>
		<li>Role of Independent Auditors</li>

		<li>Some sort of diagram that shows the governance method.</li>

		<li>Accountability</li>
		<li>Transparency</li>
		<li>Fair Behaviour (or a better term!)</li>

		<li>Organisational Governance
		    <ul>
		    	<li>Documentation</li>
		        <li>Agreements</li>
		        <li>Certification</li>
		    </ul></li>
		<li>Business and Legal Governance
			<ul>
				<li>Rules</li>
			</ul></li>
		<li>Operational Governance
			<ul>
				<li>Rules</li>
		        <li>Principles</li>
		    </ul></li>
		<li>Information Governance</li>
		<li>Information Governance Management</li>
		<li>Information Security Assurance</li>
		<li>Confidentiality and Data Protection Assurance</li>
		<li>Compliance with Trust Framework Principles, Rules and Terms and Conditions</li>
		<li>Monitoring Compliance</li>
		<li>Responsibilities</li>
		<li>Enforcement</li>
		<li>Remediation</li>

		<li>Monitoring arrangements and procedure</li>
		<li>Diagram to show process</li>
		<li>Step by step procedure</li>


		<li>Reporting Breaches of Compliance</li>

		<li>Dispute Resolution</li>
		<li>Complaint and appeals procedure</li>

		<li>Measurement and outcomes</li>
		<li>Reporting</li>

		<li>Review
			<ul>
		        <li>Review process</li>
		    </ul></li>
		<li>Report</li>
	</ul>

  </div>

</div>

{% endblock %}
