
{% extends "layout.html" %}

{% block pageTitle %}
  How you will be audited
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">How you will be audited</h1>

    
<p>You need to be certified to provide products or services to the Identity and Attributes Exchange (IAX).</p>

<p>An independent auditor manages the certification process.</p>

<h2 class="govuk-heading-l">Levels of certification
</h2>

<p>There are different levels of certification. Which level you need depends on your role in the IAX.</p> 

<p>Certification may involve a:</p>

<ul class="govuk-list govuk-list--bullet">
    <li>remote audit</li>
    <li>remote audit and an on-site audit</li>
    <li>remote audit and 2 on-site audits</li>
</ul>

<p>You’ll need to provide evidence to the auditor. The auditor will use this to tell you which level of certification you need.</p>

<p>Before you start working with an auditor, you must have:</p>

<ul class="govuk-list govuk-list--bullet">
    <li>decided on the role you want to play in the IAX</li>
    <li>applied to join the IAX</li>
    <li>built your service</li>
</ul>

<h2 class="govuk-heading-l">The certification process</h2>

<p>Once you’re ready, the authoritative body will assign an auditor to work with you. You should agree how you’ll work together, for example whether you’ll keep in touch by phone or email. Your auditor will then send you the pre-assessment documents to complete.</p>

<p>Based on your documents, your auditor will tell you if you’ve met the basic joining criteria and the level of certification you need.</p>

<p>You’ll then complete a report and write a full description of your service.</p> 

<p>Your auditor will:</p> 

<ul class="govuk-list govuk-list--bullet">
    <li>decide if you’re ready to be certified</li>
    <li>schedule 1 or 2 on-site audits as required</li>
</ul>

<p>You'll get a report from your auditor that includes recommendations, non-compliance and corrective actions.</p>

<p>Once completed, your auditor will send their report to the authoritative body and recommend if you’ve passed or failed certification.</p>
    
  </div>

</div>

{% endblock %}
