
{% extends "layout.html" %}

{% block pageTitle %}
  How certification works
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    {% include 'intro-draft.html' %}
  	<a href="/join" class="govuk-back-link">Back</a>
    <h1 class="govuk-heading-xl">How certification works</h1>

    <p>Your organisation must be 'certified' before you can join the IAX.</p>
    <p>To be certified, an independent auditor will need to check that you can provide identity services that meet <a href="/standards">all the necessary standards and rules</a>. You’ll need to <a href="/choose-auditor">choose an auditor</a> you’d like to work with.</p>
    <p>It usually takes between 1 and 3 months to be certified. It costs £0000000000000 to become a member of the IAX.</p>



    <h2 class="govuk-heading-m">Levels of certification</h2>

	  <p>You’ll need a different level of certification depending on <a href="/">your role in the IAX</a>.</p>

    <p>Your auditor will determine the level of certification you need, but you can suggest the level you think is appropriate.</p>

    <p>The level of certification you need is based on the:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>kind of service or product you want to provide</li>
      <li>level of risk associated with your service or product</li>
      <li><a href="https://www.gov.uk/government/publications/identity-proofing-and-verification-of-an-individual/identity-proofing-and-verification-of-an-individual">level of assurance</a> you want to provide</li>
    </ul>

    <p>Generally, the higher these factors the higher the level of certification you’ll need. There are 3 levels of certification available. You’ll need to do one of the following: </p>

    <ul class="govuk-list govuk-list--bullet">
      <li>send evidence of your compliance to your auditor</li>
      <li>send evidence of your compliance to your auditor and host an on-site audit</li>
      <li>send evidence of your compliance to your auditor and host 2 on-site audits</li>
    </ul>


    <p>The cost, and the time it takes to be certified, rises with each certification level. Based on the evidence, your auditor will determine if you meet the relevant identity standards.</p>


    <h2 class="govuk-heading-m">Get certified</h2>
    <p>To get certified you need to:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>apply to join the IAX</li>
      <li>choose an auditor</li>
      <li>gather evidence about your service to send to your auditor</li>
      <li>if necessary, host an auditor at your place of work</li>
    </ul>

  </div>

</div>

{% endblock %}
