
{% extends "layout.html" %}

{% block pageTitle %}
  How certification works
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
  	<a href="/join" class="govuk-back-link">Back</a>
    <h1 class="govuk-heading-xl">How certification works</h1>

    <p>Your organisation must be 'certified' before you can join the Identity and Attributes Exchange (IAX).</p>
	  
    <p>To be certified, an independent auditor will need to check that you can provide identity services that meet <a href="/standards">all the necessary standards and rules</a>. You might be able to use certificates you already have to count towards your certification.</p>
	    
	    <p>The authoritative body will appoint an auditor to work with you.</p>
    
	  <p>It usually takes between 1 and 3 months to be certified.</p>

    <h2 class="govuk-heading-l">Benefits of certification</h2>

	   <p>Being certified will:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>make it easier for users to create a digital identity they trust</li>
      <li>allow providers to use the trust mark to show users they're secure and trusted</li>
      <li>create a benchmark of trust which will allow different services and organisations to work together with confidence</li>
    </ul>

    <h2 class="govuk-heading-l">Levels of certification</h2>

    <p>Your auditor will determine the level of certification you need. The level you need is based on the:</p>

    <ul class="govuk-list govuk-list--bullet">

	<li><a href="/iax-roles">role you want to play in the IAX</a></li>
      <li>kind of service or product you want to provide</li>
      <li>level of risk associated with your service or product</li>
      <li><a href="https://www.gov.uk/government/publications/identity-proofing-and-verification-of-an-individual/identity-proofing-and-verification-of-an-individual">level of assurance</a> you want to provide</li>
    </ul>

    <p>There are 3 levels of certification. Depending on the level of certification you need, you’ll either: </p>

    <ul class="govuk-list govuk-list--bullet">
      <li>send evidence of your compliance to your auditor</li>
      <li>send evidence of your compliance to your auditor and host an on-site audit</li>
      <li>send evidence of your compliance to your auditor and host 2 on-site audits</li>
    </ul>


    <p>The cost, and the time it takes to be certified, rises with each certification level. Based on the evidence, your auditor will determine if you meet the relevant identity standards.</p>


    <h2 class="govuk-heading-l">Get certified</h2>
    <p>To get certified you need to:</p>
    <ul class="govuk-list govuk-list--bullet">
	    <li>make sure you meet the relevant <a href="/standards">standards and rules</a></li>
      <li>gather evidence about your service to send to your auditor</li>
      <li>if necessary, host an auditor at your place of work</li>
    </ul>
	  
	  <p><a href="/certification">Get certified by an auditor</a> to join the IAX.</p>

  </div>

</div>

{% endblock %}
