
{% extends "layout.html" %}

{% block pageTitle %}
  How certification works
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    {% include 'intro-summary.html' %}
  	<a href="/join" class="govuk-back-link">Back</a>
    <h1 class="govuk-heading-xl">How certification works</h1>
    
    <p>Your organisation must be 'certified' before you can join the trust framework.</p>
    <p>To be certified, an independent auditor will need to check that you can provide identity services that meet <a href="/standards">all the necessary standards and rules</a>. You’ll need to <a href="/choose-auditor">choose an auditor</a> you’d like to work with.</p>
    <p>It usually takes between 1 and 3 months to be certified. It costs £0000000000000 to become a member of the trust framework.</p>



    <h2 class="govuk-heading-m">Levels of certification</h2>
	  
	  <p>You’ll need a different level of certification depending on <a href="/">your role in the trust framework</a>. Depending on your role, and its complexity, you’ll need to either:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>send evidence of your compliance to your auditor</li>
      <li>send evidence of your compliance to your auditor and host an on-site audit</li>
      <li>send evidence of your compliance to your auditor and host 2 on-site audits</li>
    </ul>


    <p>Your auditor will let you know the level of certification you need. Based on the evidence you provide, your auditor will then decide if you meet the relevant identity standards.</p>
  

    <h2 class="govuk-heading-m">Get certified</h2>
    <p>To get certified you need to:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>apply to join the trust framework</li>
      <li>choose an auditor</li> 
      <li>gather evidence about your service to send to your auditor</li>
      <li>if necessary, host an auditor at your place of work</li>
    </ul>

  </div>

</div>

{% endblock %}
