
{% extends "layout.html" %}

{% block pageTitle %}
  What you get from being part of the IAX
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    {% include 'intro-draft.html' %}
  	<a href="/join" class="govuk-back-link">Back</a>
    <h1 class="govuk-heading-xl">What you get from being part of the IAX</h1>

    <h2 class="govuk-heading-m">Sell products and services to the UK government</h2>

      <p>The IAX is the only scheme that currently lets you sell your products and services to the UK government.</p>

    <h2 class="govuk-heading-m">Save your organisation time, effort and money</h2>

      <p>Your organisation will get a trust mark when you become a trusted provider on the IAX scheme. This will prove that your organisation meets UK and international standards.</p>
      <p>Organisations that are part of schemes in other industries (such as finance, health and retail) will be certified against the same standards. The trust mark will show these schemes that you've already been certified and will not need to be certified again. This could save your organisation between £5,000 and £10,000 for every scheme you join.</p>
      <p>It will also reduce the time and effort you'd usually spend on preparing to go through the certification process, which can cost some organisations up to £45,000.</p>
      <p>The trust mark will also prove that your product or service can be used safely. This will mean your organisation does not need to put so much time, effort and money into selling your product or service to potential buyers.</p>

    <h2 class="govuk-heading-m">Protect your users from identity fraud</h2>

      <p>Identity fraud can cost the government between £1 billion and £4 billion a year. Committing identity fraud is often the first step criminals take towards committing more serious offences, like money laundering, human trafficking or terrorism.</p>
      <p>By becoming a trusted provider on the IAX scheme, you'll know you're doing everything you can to stop criminals or users who are pretending to be someone else.</p>

    <h2 class="govuk-heading-m">Make it easier for users to do things online</h2>

      <p>You will know exactly how other organisations on the IAX scheme have created their digital identities or attributes because you will meet the same standards. You can trust that any information you get from other participants on the scheme is accurate and reliable.</p>
      <p>Sharing identities and attributes with other organisations will ultimately make it easier for users to do things online. This is because they'll no longer need to prove their identity and eligibility whenever they want to interact with a different organisation on the scheme online.</p>


  </div>

</div>

{% endblock %}
