
{% extends "layout.html" %}

{% block pageTitle %}
  The Identity and Attributes Exchange (IAX)
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    {% include 'intro-draft.html' %}
  	<a href="/join" class="govuk-back-link">Back</a>
    <h1 class="govuk-heading-xl">The Identity and Attributes Exchange (IAX)</h1>

      <p>The Identity and Attributes Exchange (IAX) is a way to reuse digital digital identities and attributes across the public and private sectors. It’s designed to help people prove their identity in an easy, secure way.</p>
      <p>The IAX is not a product or service - it’s a scheme based on a set of shared standards.</p>

    <h2 class="govuk-heading-m">What you get from being part of the IAX</h2>

  	  <p>Joining the IAX will help your organisation:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>sell products and services to the UK government</li>
          <li>save time, money and effort</li>
          <li>protect your users from identity fraud</li>
        </ul>

      <p>The scheme will also help users:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>create, use and reuse their digital identities with organisations across the public and private sectors </li>
          <li>easily and securely share their attributes with other people and organisations</li>
        </ul>

      <p>Find out more about the <a href="/iax-benefits">benefits of joining the IAX</a>.</p>

    <h2 class="govuk-heading-m">Become a trusted provider</h2>

      <p>You can choose to become any of the following trusted providers and supply products or services to other organisations in the scheme:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>identity provider</li>
          <li>attribute provider</li>
          <li>broker</li>
        </ul>

      <p>Find out more about the different <a href="/iax-roles">roles in the scheme</a>.</p>
      <p>You must be <a href="/how-certification-works">certified by an independent auditor</a> to become a trusted provider. The auditor will make sure the products or services you supply were built to follow the necessary <a href="/standards">standards and rules.</a></p>
      <p>You'll be given a trust mark when your organisation has been certified. This tells other organisations that you have met the necessary requirements to become a trusted provider.</p>
      <p>You can <a href="/join.html">join the scheme</a> as soon as you've been certified.</p>

    <h2 class="govuk-heading-m">Why digital identities and attributes are important</h2>

      <p>Digital identity is an important part of the UK's digital economy and society.</p>
      <p>Anyone should be able to create a digital identity which they can use to do things securely online. A digital identity might also help someone with interactions or transactions in the real world, for example proving how old they are when they buy age-restricted goods.</p>
      <p>Your organisation can use digital identities to help users do more things online and improve your existing services. Not using digital identities will mean people have to continue to interact and do things with your organisation through other channels, such as over the phone or by filling in paper forms. These can:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>be expensive</li>
          <li>be inefficient</li>
          <li>put people off completing the transaction</li>
          <li>put people and your organisation at risk of fraud</li>
        </ul>

      <p>As well as being sure that someone is who they say they are, many organisations also need to know if someone is eligible to do certain things. They can do this by finding and checking additional information about someone (also known as 'attributes') along with, or separately from, their digital identity.</p>

  </div>

</div>

{% endblock %}
