
{% extends "layout.html" %}

{% block pageTitle %}
  What you get from being part of the IAX
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
  	<a href="/iax-introduction" class="govuk-back-link">Back</a>
    <h1 class="govuk-heading-xl">What you get from being part of the Identity and Attributes Exchange (IAX)</h1>

    <h2 class="govuk-heading-l">Sell products and services to the UK government</h2>

      <p>The IAX is currently the only digital identity scheme that lets you sell your products and services to the UK government.</p>

    <h2 class="govuk-heading-l">Save time, effort and money</h2>

      <p>Your organisation will get a trust mark when you become a trusted provider in the IAX scheme. This proves your organisation follows government and industry guidance on how to:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>stop criminals or users that are pretending to be someone else</li>
        <li>run a secure product or service</li>
      </ul>

      <p>The trust mark will also prove your product or service can be used safely. This can make it easier to sell it to potential buyers.</p>

    <h2 class="govuk-heading-l">Show other schemes you meet their standards</h2>

      <p>Organisations that are part of schemes in other industries (such as finance, health and retail) might be certified against equivalent standards.</p>
      <p>Being certified to join the IAX could reduce the time and effort you spend on getting certified to join other schemes. In some cases it can even mean you will not need to go through another full certification process.</p>
      <p>Preparing to be certified can cost some organisations up to £45,000 each time.</p>

    <h2 class="govuk-heading-l">Make it easier for users to do things online</h2>

      <p>You'll know exactly how other organisations on the IAX scheme have created their digital identities or attributes because you’ll meet the same standards. You can trust that any information you get from other participants is accurate and reliable.</p>
      <p>Sharing identities and attributes with other organisations will ultimately make it easier for users to do things online. This is because they'll no longer need to prove their identity and eligibility every time they interact with a new organisation.</p>

  </div>

</div>

{% endblock %}
