
{% extends "layout.html" %}

{% block pageTitle %}
  The Identity and Attributes Exchange (IAX)
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    {% include 'intro-draft.html' %}
    <h1 class="govuk-heading-xl">The Identity and Attributes Exchange (IAX)</h1>

      <p>The Identity and Attributes Exchange (IAX) is a way to reuse digital identities and attributes across the public and private sector. It helps people prove their identity in an easy, secure way.</p>
      <p>Members of the IAX scheme are certified against a set of government-approved standards. This means they can trust each other when they share information.</p>
      <p><a href=/join>Join the IAX</a> or read about the benefits of being part of the scheme and the available roles.</p>

    <h2 class="govuk-heading-m">What you get from being part of the IAX</h2>

  	  <p>Joining the IAX will help your organisation:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>sell products and services to the UK government</li>
          <li>save time, money and effort</li>
          <li>give your users a better experience</li>
        </ul>

      <p>Find out more about the <a href="/iax-benefits">benefits of joining the IAX</a>.</p>

    <h2 class="govuk-heading-m">Become a trusted provider</h2>

      <p>There are several roles for organisations in the IAX. You can apply to sell products or services as:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>an identity provider</li>
          <li>an attribute provider</li>
          <li>a broker</li>
        </ul>

      <p>Find out more about the different <a href="/iax-roles">roles in the scheme</a>.</p>
      <p>You must be certified by an independent auditor before you can join the scheme. The auditor will make sure the products or services you supply meet the IAX's standards.</p>

    <h2 class="govuk-heading-m">Why digital identities and attributes are important</h2>

      <p>Digital identity is an important part of the UK's digital economy and society.</p>
      <p>Anyone should be able to create a digital identity which they can use to do things securely online. A digital identity might also help someone with interactions or transactions in the real world, for example proving how old they are when they buy age-restricted goods.</p>
      <p>Your organisation can use digital identities to help users do more things online and improve your existing services. Not using digital identities will mean people have to continue to interact and do things with your organisation through other channels, such as over the phone or by filling in paper forms. These can:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>be expensive</li>
          <li>be inefficient</li>
          <li>put people off completing the transaction</li>
          <li>put people and your organisation at risk of fraud</li>
        </ul>

      <p>As well as being sure that someone is who they say they are, many organisations also need to know if someone is eligible to do certain things. They can do this by finding and checking additional information about someone (also known as 'attributes') along with, or separately from, their digital identity.</p>

  </div>

</div>

{% endblock %}
