
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Join and participate in the trust framework
      </h1>

      <h2 class="govuk-heading-m">In this prototype</h2>

      <ul class="govuk-list govuk-list--bullet">
        <li>
          <a href="introduction-trust-framework">
            An introduction to the trust framework for identity and attributes
          </a>
        </li>
        <li>
          <a href="join-trust-framework">
            Join and participate in the trust framework
          </a>
        </li>
      </ul>
    </div>
</div>

{% endblock %}
