
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Becoming a provider
      </h1>

      <h2 class="govuk-heading-m">In this prototype</h2>

      <ul class="govuk-list govuk-list--bullet">
        <li>
          <a href="sell-identity-services">
            Sell identity products to public and private sector services
          </a>
        </li>
        <li>
          <a href="join-trust-framework">
            Join the trust framework to sell identity services
          </a>
        </li>
      </ul>
    </div>
</div>

{% endblock %}
