
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}



<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Join and participate in the trust framework
      </h1>

      <p>This prototype lets you access descriptions of documents that will be included in the trust framework. Some documents are available as a PDF, while others are available in HTML.</p>

      <div class="govuk-inset-text">

      <p>Some documents are more finished than others, and we use tags to distinguish between them:</p>

      <ul class="govuk-list ">
        <li><strong class="govuk-tag">summary</strong>, when we identified a user need and drafted a short description of what a document will do and consist of</li>
        <li><strong class="govuk-tag">draft</strong>, when we drafted a document and need feedback to learn if it meets user needs</li>
        <li><strong class="govuk-tag">published</strong>, when we published a document and it's ready to be used</li>
      </ul>
    </div>

      <a href="/join" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button">
        Start now
        <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" role="presentation" focusable="false">
          <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
        </svg>
      </a>


    </div>
</div>

{% endblock %}