
{% extends "layout.html" %}

{% block pageTitle %}
  Join and participate in the identity and attributes exchange (IAX)
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <a href="/iax-introduction" class="govuk-back-link">Back</a>
    <h1 class="govuk-heading-xl">Join the Identity and Attributes Exchange (IAX) as an identity provider</h1>

    <p>As a member of the Identity and Attributes Exchange (IAX), you'll have access to information from other trusted organisations. You can find out about the other <a href="/iax-benefits">benefits of being part of the IAX</a> before you join.</p>
    <p>You can currently only join the IAX as an identity provider. You must follow these 3 steps to join. It usually takes a few months to complete them all.</p>

    <ol class="app-task-list">
      <li>
        <h2 class="app-task-list__section">
          <span class="app-task-list__section-number">1.</span> Read and follow the rules
        </h2>
          <p>Find out what <a href="/standards">standards and rules you must follow</a>.</p>
      </li>

      <li>
        <h2 class="app-task-list__section">
          <span class="app-task-list__section-number">2.</span> Build or adapt your service
        </h2>
          <p>You can get ready to provide digital identities in the IAX by setting up an OpenID Connect profile.</p>
      <li>

        <h2 class="app-task-list__section">
          <span class="app-task-list__section-number">3.</span> Join the IAX and get certified
        </h2>
          <p>Find out how to:</p>
          <ul class="govuk-list govuk-list--bullet">
              <li><a href="/certification">get certified</a> to join the IAX</li>
              <li><a href="/apply">apply to join the IAX</a></li>
          </ul>
      </li>
    </ol>



  </div>

</div>

{% endblock %}
