
{% extends "layout.html" %}

{% block pageTitle %}
  Join and participate in the identity and attributes exchange (IAX)
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <a href="/iax-introduction" class="govuk-back-link">Back</a>
    <h1 class="govuk-heading-xl">Join and participate in the identity and attributes exchange (IAX)</h1>

    <ol class="app-task-list">
      <li>
        <h2 class="app-task-list__section">
          <span class="app-task-list__section-number">1.</span> Find out about the IAX
        </h2>
        <ul class="govuk-list ">
          <li><a href="/public/introduction-to-iax.pdf">An introduction to the IAX (opens as a PDF)</a></li>
          <li><a href="/users">Who's part of the IAX</a></li>
        </ul>
      </li>

      <li>
        <h2 class="app-task-list__section">
          <span class="app-task-list__section-number">2.</span> Decide if it’s right for you
        </h2>
        <ul class="govuk-list">
          <li><a href="/standards">Standards and rules you must follow</a></li>
          <li><a href="/governance">How the IAX is run</a></li>
          <li><a href="/how-certification-works">How certification works</a></li>
        </ul>
      </li>

      <li>
        <h2 class="app-task-list__section">
          <span class="app-task-list__section-number">3.</span> Tell us you’re joining
        </h2>
        <ul class="govuk-list">
          <li><a href="/apply">Apply to join the IAX</a></li>
          <li><a href="/choose-auditor">Choose an auditor</a></li>
        </ul>
      </li>

      <li>
        <h2 class="app-task-list__section">
          <span class="app-task-list__section-number">4.</span> Build or adapt your service
        </h2>
        <ul class="govuk-list govuk-list">
          <li><a href="https://trust-framework-tech-docs.cloudapps.digital/#guidance-for-building-or-adapting-a-service-for-the-trust-framework">Read guidance for builidng and adapting a service</a></li>
          <li><a href="https://trust-framework-tech-docs.cloudapps.digital/user-journeys/#user-journeys">Understand user journeys</a></li>
          <li><a href="https://trust-framework-tech-docs.cloudapps.digital/components/#components">Component and pattern guidelines</a></li>
          <li><a href="https://trust-framework-tech-docs.cloudapps.digital/trustmark/#using-the-trustmark">Using the trustmark</a></li>
          <li><a href="https://trust-framework-tech-docs.cloudapps.digital/technical-implementation/#technical-implementation">Technical implementation</a></li>
        </ul>
      </li>

      <li>
        <h2 class="app-task-list__section">
          <span class="app-task-list__section-number">5.</span> Get certified
        </h2>
        <ul class="govuk-list ">
          <li><a href="/certification">Get certified to be part of the IAX</a></li>

        </ul>
      </li>

      <li>
        <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">6.</span> Sign contract and join
        </h2>

        <p>After you've <a href="/sign-contract">signed the contract</a>, you must:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li><a href="/join-directory">join the IAX directory</a></li>
          <li><a href="/connect-eidas">connect to eIDAS (if you're a broker)</a></li>
        </ul>

      </li>

      <li>
        <h2 class="app-task-list__section">
          <span class="app-task-list__section-number">7.</span> Participate
        </h2>
        <p>You must always follow the guidance on <a href="/being-participant">being a participant</a>. There are different rules to follow if you want to be:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li><a href="/public/identity-providers.pdf">an identity provider (opens as a PDF)</a></li>
          <li><a href="/being-attribute-provider">an attribute provider</a></li>
          <li><a href="/being-broker">a broker</a></li>
        </ul>
        <p>There are other things you must do if you want to <a href="/leaving">leave the IAX</a>.</p>
      </li>

    </ol>



  </div>

</div>

{% endblock %}
