
{% extends "layout.html" %}

{% block pageTitle %}
  How to manage your records
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">How to manage your records</h1>

    
<p>You're responsible for keeping accurate records and managing them appropriately. You also have certain responsibilities when you stop keeping ('dispose of') them.</p>
    
<p>Before you start keeping records, you should have:</p>
<ul class="govuk-list govuk-list--bullet">
    <li>clear rules for keeping, managing and disposing of them</li>
    <li>a records management policy and a disposal statement</li>
    <li>a named person in your organisation who oversees records management</li>
</ul>

<h2 class="govuk-heading-l">Keeping and managing records</h2>

<p>You should have rules that cover your day-to-day records management. For example:</p>
<ul class="govuk-list govuk-list--bullet">
    <li>which records to keep</li>
    <li>who should keep them</li>
  <li>how to keep them, covering the formats and media you use</li>
    <li>when to <a href="#disposing-records">dispose of records</a> - this is usually covered in a disposal statement</li>
  </ul>

<p>The rules for your organisation can be as detailed as you need them to be.</p>

<p>These rules can be a part of your records management policy or maintained separately.</p>

<h3 class="govuk-heading-m">Records management policy</h3>

<p>You should have a regularly updated records management policy.</p>
<p>The policy should include:</p>
<ul class="govuk-list govuk-list--bullet">
    <li>a commitment to managing records, including what's covered and why</li>
    <li>the policy's objectives (for example, to help you meet standards or legal requirements)</li>
    <li>how the records management policy relates to your organisation's other policies, such as data security or fraud policies</li>
    <li>the job roles in your organisation and what their management responsibilities are</li>
    <li>specific plans for records that are particularly important or sensitive</li>
</ul>

    <p>It should be easy for anyone in your organisation to find and use. This will help everyone understand why it's important to follow the management rules and keep records correctly.</p>
<p>The records management policy should have been agreed at a senior level. It will usually be part of your wider information management strategy.</p>
<p>You should choose a <a href="#records-manager">named person</a> to check it's being followed and regularly review it.</p>

<h3 class="govuk-heading-m">Your other responsibilities</h3>

<p>You should also:</p>
<ul class="govuk-list govuk-list--bullet">
    <li>have guidance on common issues that the rules do not cover, such as naming conventions</li>
    <li>know how (and how often) you're going to check that your records are being managed according to your policy</li>
    <li>make sure that access to records is controlled and monitored</li>
</ul>

<h2 class="govuk-heading-l"><a id="disposing-records">Disposing of records</a></h2>

<p>Your organisation should have clear rules on how long to keep records. When it's time to stop managing them, you must dispose of them in an appropriate way.</p>
  <p>Before you decide whether to keep or dispose of a record, you might want to consider:</p>
<ul class="govuk-list govuk-list--bullet">
    <li>how often you'll need to check it in the future</li>
    <li>legal requirements, including GDPR requirements</li>
    <li>performance analysis, including Identity and Attributes Exchange reports</li>
    <li>fraud analysis</li>
    <li>audits or other investigations</li>
</ul>

<p>To dispose of records, you can transfer them (for example, to an archive) or destroy them. The right course of action will be different for each type of record.</p>

<h3 class="govuk-heading-m">Disposal statement</h3>

<p>Your organisation should have a formal written disposal statement. It should include the types of record you handle and:</p>
<ul class="govuk-list govuk-list--bullet">
    <li>how long you keep each type</li>
    <li>how you dispose of each type</li>
    <li>your processes for archiving and destroying records</li>
</ul>

<h2 class="govuk-heading-l">What people in your organisation need to do</h2>

<p>Anyone who handles records should follow the records management policy. This includes temporary staff and contractors.</p>
<p>Everyone who works for your organisation should know:</p>
<ul class="govuk-list govuk-list--bullet">
    <li>which information needs to be added to the record-keeping system</li>
    <li>what your records management policy is</li>
    <li>what they must do to follow the GDPR, Data Protection Act and Freedom of Information Act</li>
</ul>

<h3 class="govuk-heading-m"><a id="records-manager">Appointing a records manager</a></h3>

<p>You should choose a named person to oversee your records management. They will be ultimately responsible for making your records accurate, accessible and secure.</p>
<p>They will need to:</p>
<ul class="govuk-list govuk-list--bullet">
    <li>check your records are being managed according to the records management policy and disposal statement</li>
    <li>make sure you meet your legal and regulatory requirements</li>
    <li>set up or maintain your record-keeping systems</li>
    <li>identify important or sensitive records that need specific management plans</li>
    <li>set up a way to document who has accessed, added or changed a record</li>
    <li>act as a single point of contact for records management issues</li>
</ul>
<p><br></p>
    
  </div>

</div>

{% endblock %}
