
{% extends "layout.html" %}

{% block pageTitle %}
  Sell identity products to public and private sector services
{% endblock %}

{% block content %}
<div class="govuk-full-width-override">
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">Sell identity products to public and private sector services</h1>
    <p class="govuk-body-l">
      Make it easier for people to do things online securely by selling identity services in a trusted, flexible market.
    </p>
    <a href="/join-trust-framework" role="button" class="govuk-button govuk-button--secondary govuk-button--start">
      Get started
      <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" role="presentation" focusable="false">
        <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
      </svg>
    </a>
  </div>
</div>
</div>

<div class="govuk-grid-row govuk-!-padding-top-9">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-l">Title</h2>
    <p class="govuk-body">Sometimes users will need to prove they are who they say they are to do something online. </p>
    <p class="govuk-body">There isn't currently a consistent way for users to do this. This can cause problems for teams across the public and private sectors. They might need to buy a way to check their users' identities for each service they have. They can end up paying different prices for very similar identity checking products.</p>
    <p class="govuk-body">Although these identity checking products might do the same thing, they won't always give a user an identity account that they can use again to access other services. This means users will often need to start from scratch and prove their identity every time they interact with a new organisation online.</p>
    <p class="govuk-body">Inconsistencies in the way identities are checked online can be exploited by fraudsters. This can lead to identity fraud, which costs government alone between £1 billion and £4 billion a year. </p>
    <p class="govuk-body">The new trust framework can help solve these problems. By following the guidance and standards included in the trust framework, you'll be able to build an identity checking product that's secure and can work with similar products and services across the public and private sectors.</p>
  </div>
</div>

<div class="govuk-grid-row govuk-!-padding-top-9">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-l">Title</h2>
    <p class="govuk-body">There are different ways you can be a supplier in the trust framework. You can do any of the following:</p>    
    <ul class="govuk-list govuk-list--bullet">
      <li>check users' information against authoritative data sources by becoming an 'attribute provider'</li>
      <li>check users' identities and sell their accounts by becoming an 'identity provider'</li>
      <li>connect multiple attribute providers and identity providers to services by becoming a 'broker'</li>
    </ul>
    <p class="govuk-body">How much you earn from being part of the trust framework will depend on which product or service you choose to supply. For example, if you're an identity provider you'll get paid each time a user:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>creates a digital identity account using your product</li>
      <li>signs in to a public or private sector service using their digital identity account</li>
    </ul>
  </div>
</div>

<div class="govuk-grid-row govuk-!-padding-top-9">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-l">What else you get from being part of the trust framework</h2>
    <p class="govuk-body">Being part of the trust framework will give you the chance to:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>access the digital identity market</li>
      <li>find out about potential threats to your product by sharing threat intelligence and fraud monitoring information with other organisations</li>
      <li>sell more trustworthy products by following best practice guidance on identity proofing</li>
    </ul>
    <p class="govuk-body"><a href="#">Email us</a> if you’d like to know more about joining the trust framework or <a href="join-trust-framework">join the trust framework</a>.</p>
    
  </div>
</div>

{% endblock %}
