
{% extends "layout.html" %}

{% block pageTitle %}
  Sharing data about the use of your service
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    {% include 'intro-draft.html' %}
  	<a href="/being-participant" class="govuk-back-link">Back</a>
    <h1 class="govuk-heading-xl">Sharing data about the use of your service</h1>

    <p>To be a participant on the IAX, you must share data about the usage of your service with the authoritative body. This data is published by the authoritative body and it’s used to monitor the performance of the IAX. GOV.UK Verify <a href="https://www.gov.uk/performance/govuk-verify">publishes weekly data about its usage</a>.</p>

    <p>There are also service level agreements that you will have to meet in order to remain on the IAX: for example, your completion rate may need to be above a certain number. We will provide a way for you to send us this data. You must also <a href="https://docs.google.com/document/d/1aetKaLLM5LuS4ZoborPxiHlBRmxGm4Vrh1wvEaSVHBU/edit#">keep other records about the usage of your service</a>.</p>

    <p>The data that we will ask you for differs depending on the role you play in the IAX. For example, if you are an identity provider, your users are people creating or signing into an identity, whereas if you are an attribute provider, your users are organisations requesting attributes. Here is some of the data we might ask you for:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>number of people using your service, including new and returning users</li>
      <li>completion rate, including detailed metrics about failure causes</li>
      <li>number of interactions and outcomes of interactions that a user has with your help desk</li>
    </ul>


  </div>

</div>

{% endblock %}
