
{% extends "layout.html" %}

{% block pageTitle %}
  Sign contract
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
  	<a href="/join" class="govuk-back-link">Back</a>
    <h1 class="govuk-heading-xl">Sign contract</h1>
    <p>This page describes the contrast you need to sign to join the IAX and explains how to sign it. It includes:</p>
	  <ul class="govuk-list govuk-list--bullet">
      <li>Limitations on liability<ul>
        <li>Who is liable when something that's related to the IAX goes wrong.</li></ul></li>
      <li>What you cannot do as part of the IAX<ul>
        <li>What participants in the IAX must not do.</li></ul>
      </li>
      <li>Warranties</li>
      <li>Pay fee</li>
      <li>Due diligence</li>
      <li>Authority responsibilities</li>
      <li>KPI</li>
      <li>Dispute resolution and escalation<ul>
        <li>How to manage and respond to incidents that could affect the IAX.</li></ul></li>
      <li>Terms and conditions of the framework agreement</li>
      <li>Identity Assurance Principles<ul>
        <li>How to build a service that lets users control how information about them is used and stored.</li></ul></li>
      <li>Branding and marketing rules<ul>
        <li>How to talk about the IAX in the right way.</li></ul></li>
      <li>Conditions precedent (Operations Conditions Precedent)</li>
      <li>Miscellaneous and governing law</li>
      <li>IP rights</li>
      <li>Confidentiality</li>
      <li>FOI</li>
      <li>Indemnities</li>
      <li>Insurance</li>
      <li>Change control process</li>
      <li>Complaints process</li>
      <li>Guarantees</li>
      <li>Being removed from the IAX<ul>
        <li>What happens if you do not follow the rules of the IAX: involuntary and volunatry withdrawal of service, being suspended and being reinstated</li></ul></li>
	  </ul>

  </div>

</div>

{% endblock %}
