
{% extends "layout.html" %}

{% block pageTitle %}
  Standards and rules you must follow
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

  	<a href="/join" class="govuk-back-link">Back</a>
    <h1 class="govuk-heading-xl">Standards and rules you must follow</h1>
    <p>You must make sure you understand what the <a href="/public/identity-providers.pdf">responsibilities of an identity provider in the IAX</a> are.</p>
    <p>This includes knowing <a href="/public/what-to-do-contra-indicators.pdf">what you should do if a user gives you wrong or contradictory information</a>.</p>
    <p>You must also meet all of the following standards and rules:</p>
    	<ul class="govuk-list govuk-list--bullet">
        <li><a href="https://www.gov.uk/government/publications/identity-proofing-and-verification-of-an-individual/identity-proofing-and-verification-of-an-individual">How to prove and verify someone's identity</a></li>
        <li><a href="https://www.gov.uk/government/publications/authentication-credentials-for-online-government-services">Using authenticators to protect an online service</a></li>
    	  <li><a href="/public/manage-identity-risks.pdf">Manage identity risks to your service (opens as a PDF)</a></li>
        <li><a href="/manage-records">How to manage your records</a></li>
        <li><a href="/data-protection">Data protection in the IAX</a></li>
        <li><a href="https://www.gov.uk/government/publications/govuk-verify-identity-assurance-principles/identity-assurance-principles">Identity Assurance Principles</a></li>
        <li><a href="https://www.w3.org/WAI/standards-guidelines/wcag/">Web Content Accessibility Guidelines (WCAG)</a></li>
        <li><a href="">Base profile (link TBC)</a></li>
        <li><a href="">Identity provider profile (link TBC)</a></li>
    	</ul>

  <p>Before you start your application, you’ll need to send some evidence to your auditor that proves your organisation:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>is a registered company</li>
      <li>follows the relevant legislation, for example the General Data Protection Regulation (GDPR)</li>
      <li>follows an internationally recognised information security standard, such as ISO/IEC 27001 or ISO/IEC 27002 (NIST 800 Series or ITIL security management may be also be acceptable)</li>
      <li>manages risks to your service in a way that follows industry standards, such as ISO/IEC 27005 or BS 7799-3</li>
      <li>has an ISO 9001 certificate (these usually expire every 3 years so you must make sure your certificate is still valid)</li>
      <li>has someone on the organisation's management team who's responsible for security policies</li>
      <li>keeps a log of any time your security policies or safeguards have been compromised (the log should include times and dates of the events, as well as what you did to fix them)</li>
  </ul>

  <p>You’ll provide this evidence when you complete the statement of conformity when you’re getting certified.</p>

  </div>

</div>

{% endblock %}
