
{% extends "layout.html" %}

{% block pageTitle %}
  Standards and rules you must follow
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% include 'intro-draft.html' %}

  	<a href="/join" class="govuk-back-link">Back</a>
    <h1 class="govuk-heading-xl">Standards and rules you must follow</h1>
    <p>You must meet all of the following standards and rules if you want to be part of the IAX:</p>
	<ul class="govuk-list ">
    <li><a href="https://www.gov.uk/government/publications/identity-proofing-and-verification-of-an-individual/identity-proofing-and-verification-of-an-individual">How to prove and verify someone's identity</a></li>
    <li><a href="/public/usinguauthenticators-to-protect-an-online-service.pdf">Using authenticators to protect an online service (opens as a PDF)</a></li>
	  <li><a href="/public/manage-identity-risks.pdf">Manage identity risks to your service (opens as a PDF)</a></li>
	  <li><a href="/public/understanding-sharing-and-maintaining-attributes.pdf">Understanding, sharing and maintaining attributes (opens as a PDF)</a></li>
	  <li><a href="/attribute-metadata">How to describe your attributes</a></li>
	  <li><a href="https://www.gov.uk/government/publications/transaction-monitoring-for-hmg-online-service-providers">Transaction monitoring for HMG online service providers</a></li>
    <li><a href="https://docs.google.com/document/d/11zAv5yqhTG2V0wReUW1r3XsFv5i7b0A7I7Xu3hWacgw/edit?ts=5df7578b">Privacy rules of the IAX (opens as a PDF)</a></li>
    <li><a href="https://www.gov.uk/government/publications/govuk-verify-identity-assurance-principles/identity-assurance-principles">Identity Assurance Principles</a></li>
    <li><a href="https://www.w3.org/WAI/standards-guidelines/wcag/">Web Content Accessibility Guidelines (WCAG)</a></li>
	</ul>

  <p>Before you start your application, you’ll need to send some evidence to your auditor that proves your organisation:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>is a registered company</li>
      <li>follows the relevant legislation, for example the General Data Protection Regulation (GDPR)</li>
      <li>follows an internationally recognised information security standard, such as ISO/IEC 27001, ISO/IEC 27002 (NIST 800 Series or ITIL security management may be also be acceptable)</li>
      <li>manages risks to your service in a way that follows industry standards, such as ISO/IEC 27005 or BS 7799-3</li>
      <li>has an ISO 9001 certificate (these usually expire every 3 years so you must make sure your certificate is still valid)</li>
      <li>has someone on the organisation's management team who's responsible for security policies</li>
      <li>keeps a log of any time your security policies or safeguards have been compromised (the log should include times and dates of the events, as well as what you did to fix them)</li>
  </ul>

  <p>You’ll provide this evidence when you complete the statement of conformity when you’re getting certified.</p>

  </div>

</div>

{% endblock %}
