
{% extends "layout.html" %}

{% block pageTitle %}
  Threat Intelligence and counter fraud guidance
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
  	{% include 'intro-summary.html' %}
  	<a href="/being-participant" class="govuk-back-link">Back</a>
    <h1 class="govuk-heading-xl">Threat Intelligence and counter fraud guidance</h1>
    <p>How to monitor, detect and mitigate threats and risks: alerting and counter fraud reporting to the authoritative body.</p>
  </div>

</div>

{% endblock %}
